/* Special About Area */
/* ================================================= */

.section-about h2 {

}

.section-about p {

}

.section-about p:first-child {
    margin-top: 30px;
}

#passion-container,
#style-container {
    padding: 50px 30px;
    min-height: 400px;
}

#passion-container p,
#style-container p {
    margin-top: 30px;
    color: #000;
}

#passion-container {
    background-color: #FFF4F6;
    
}

#style-container {
    background-color: #E9F1F2;
}