.post-container {
    margin-bottom: 30px;
    padding: 0 20px 0 0;
    background: #fff;
}

.post-container .col {
    margin: 0;
}

.post-img {
    width: 100%;
    overflow: hidden;
    height: 400px;
    position: relative;
}

.post-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 400px;
    margin: auto;
}

.post-page-img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.post-page-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
}

.post-content {
    margin-left: 20px;
}

.post-title {
    margin-bottom: 10px;
}

.post-info {

}

.post-cut {
    width: 100%;
    overflow: hidden;
}

p.post-info {
    font-weight: 600;
    color: #000;
    
}