h2#cart-title {
    margin-bottom: 30px;
}

.cart-area {
    
}

.cart {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 10px;
}

h3.item-title {
    color: #000;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.price {
    color: #000;
}

.unavailable-p {
    color: firebrick;
}

.total {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.half {
    width: 65%;
}

.payment {
    padding-top: 30px;
    text-align: center;
}

.payment button {
    width: 100%;
}

img.pay-accept-img {
    margin-top: 20px;
}