/* Contact Area */
/* ================================================= */

#status {
    margin-top: 50px;
    color: forestgreen;
    text-align: center;
}

/* Contact Us Area */

div.media-icon {
    float: left;
    margin-right: 10px;
}

div.media-content {
    float: left;
    margin-bottom: 40px;
}

div.media-content div:last-child {
    font-size: 80%;
    margin-top: 10px;

}

div.media-content div span {
    font-size: 100%;
    font-weight: 500;
    color: #000;
}