/* Front Page Area */
/* ================================================= */

/* Slider Area */
/* ================================================= */

.section-slider {
    padding: 25px 0;
}

.slider {
    margin: 0 auto;
    width: 1250px;
    height: 380px;
    overflow: hidden;
}

.slider .slides {
    display: block;
    width: 6000px;
    height: 380px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.slider .slide {
    float: left;
    list-style-type: none;
    width: 1250px;
    height: 380px;
}

/* Featured Products Area */
/* ================================================= */

.f-slider {
    margin: 0 auto;
    width: 1250px;
    overflow: hidden;
}

.f-slider .f-slides {
    display: block;
    width: 6000px;
    margin: 0;
    padding: 0;
}

.f-slider .f-slide {
    float: left;
    list-style-type: none;
    width: 1250px;
    padding: 10px 0;
    text-align: center;
}

.prdct-ul {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    list-style: none;
}

.prdct-li {
    float: left;
    margin: 0 50px;
}

.product-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin: 0 5%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    -webkit-transition: 0.5s linear;
    transition: 0.5s linear;
}

.product-box:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.product-box div {
    text-align: center;
    padding: 15px;
    width: 100%;
}

.product-box div:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.product-box div:last-child {
    text-align: center;
    border: none;
}

.product-img {
    width: 100%;
}

.product-title {
    margin-bottom: 10px;
}

.product-description p {
    font-size: 85%;
    height: 70px;
    overflow: hidden;
}

.product-action {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}

.product-action .action {
    float: left;
    margin-right: 20px;
    padding-top: 5px;
}

.product-action .action a {
    color: #888;
}

.product-action .action a:hover {
    color: #3ea58d;
}

.icon {
    font-size: 110%;
}

span.product-price {
    float: right;
    font-weight: 300;
    font-family: "Times New Roman", Times, serif;
    font-size: 150%;
    color: #000;
}

/* Special Products Area */
/* ================================================= */

.container {
    width: 1250px;
    height: auto;
    margin: 0 auto;
}

.widget-container {
    overflow: hidden;
    height: 500px;
    width: 416px;
    float: left;
}

.widget-1 {
    display: inline-block;
    width: 416px;
    height: 250px;
    overflow: hidden;
}

.widget-2 {
    width: 416px;
    height: 500px;
    overflow: hidden;
}

.widget-1 img,
.widget-2 img {
    width: 100%;
    height: auto;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    margin: 0;
    padding: 0;
}