.section-login h3,
.section-recover h3{
    margin-bottom: 20px;
}

.section-login p strong,
.section-recover p strong {
    font-size: 90%;
}

.form-container {
    font-size: 90%;
    padding: 20px 0;
    padding-right: 20px;
}

#link {
    margin-top: 20px;
}

.form-container-2 {
    font-size: 90%;
    padding: 20px 0;
}

.form-container label {
    font-size: 75%;
}

.form-container input {
    margin-bottom: 20px;
}

.form-container span {
    margin-left: 7px;
}