.product-display {
    background: #fff;
    padding-bottom: 30px;
}

.product-display .row {
  padding: 10px 40px 20px 20px;
}

.product-details div {
    margin: 5px 0;
}

.product-details div:last-child {
    margin-top: 50px;
}

div.pro-desc {
    padding: 20px 0;
    border-top: 1px dotted #efefef;
    border-bottom: 1px dotted #efefef;
}

.product-details p {
    margin-bottom: 5px;
}

.product-details strong {
    text-transform: uppercase;
    color: #000;
}

.product-title {
    font-size: 170%;
    font-weight: 300;
    margin-top: 30px;
}

.price-h3 {
    margin-top: 20px;
    font-size: 210%;
    color: #000;
}

.sing-product-img {
    width: auto;
    height: auto;
}

.product-sidebar h2 {
    margin-bottom: 30px;
}

.sidebar-box ul {
    list-style: none;
}
