/* Registration Area */
/* ================================================= */

.section-registration h3 {
    margin-bottom: 5px;
}

#reg {
    margin-top: 30px;
}

.form-control {
    margin-top: 20px;
}