.sidebar-box {
    padding: 40px;
    background: #fff;
    width: 100%;
    margin-top: 5%;
}

.sidebar-box:first-child {
    margin-top: 0;
}

.shop-catagories-ul {
    margin-top: 30px;
    width: 100%;
    list-style: none;
}

.shop-catagories-ul li {
    padding: 15px 0;
    border-bottom: 1px dotted #ccc;
}

.shop-catagories-ul li:last-child {
    border: none;
}

.refine-search div {
    padding: 10px 0;
}

.refine-search div:first-child {
    padding: 0;
}

.refine-search h2 {
    margin-bottom: 30px;
}

span.shop-lead-head {
    color: #333;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 100%;
    border-bottom: 1px dotted #efefef;
}
