<template>
    <div class="mx-auto container px-6">
        <div class="flex justify-center">
            <div class="xl:w-4/5 lg:w-5/6 w-full relative">
                <div class="rounded-lg bg-white py-4 mt-8">
                    <div class="mb-5 pb-5 px-5 border-b border-gray-200 flex items-center">
                        <div class="w-10 h-10 rounded-full mr-3 overflow-hidden">
                            <img class="w-full" src="../assets/img/default.svg" :alt="messages.name" />
                        </div>

                        <div class="text-base">
                            <p class="text-gray-900 leading-none font-semibold" v-text="name"></p>
                        </div>
                    </div>

                    <div class="pt-2 px-5 overflow-scroll-y overflow-x-hidden" v-chat-scroll style="max-height: 500px">
                        <div v-for="message in messages" :key="message.id">
                            <div v-if="name !== message.name" class="flex items-start justify-start mb-5">
                                <div class="text-sm rounded-lg px-5 py-3 bg-gray-300 text-gray-800 max-w-sm">
                                    <p class="mb-3" v-text="message.content">
                                        Quisque placerat facilisis egestas cillum dolore. Cum ceteris in veneratione tui montes, nascetur mus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus.
                                    </p>

                                    <p class="text-sm mt-5 text-gray-500" v-text="message.timestamp"></p>
                                </div>
                            </div>

                            <div v-else class="flex items-start justify-end mb-5">
                                <div class="text-sm rounded-lg px-5 py-3 bg-blue-500 text-gray-100 max-w-sm">
                                    <p class="mb-3" v-text="message.content"></p>

                                    <p class="text-sm mt-5 text-right text-blue-200" v-text="message.timestamp"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-center">
            <div class="xl:w-4/5 lg:w-5/6 w-full">
                <NewMessage :name="name" />
            </div>
        </div>
    </div>
</template>

<script>
import db from '@/firebase/init';
import NewMessage from './NewMessage.vue';
import moment from 'moment';

export default {
    name: 'Chat',

    components: {
        NewMessage
    },

    props: ['name'],

    data() {
        return {
            messages: []
        }
    },

    created() {
        let ref = db.collection('messages').orderBy('timestamp');

        ref.onSnapshot(snapshot => {
            snapshot.docChanges().forEach(change => {
                if (change.type == 'added') {
                    let doc = change.doc;

                    this.messages.push({
                        id: doc.id,
                        name: doc.data().name,
                        content: doc.data().content,
                        timestamp: moment(doc.data().timestamp).fromNow('m')
                    });
                }
            });
        });
    }
}
</script>
