<template>
    <div class="mt-5 w-full">
        <form class="block" @submit.prevent="sendMessage">
            <div class="flex items-center relative">
                <input class="w-full bg-white rounded-full py-4 px-8 shadow-xl outline-none" id="message" name="message" v-model="newMessage" type="text" placeholder="Type a message..">

                <button class="absolute top-0 bottom-0 right-0 rounded-full py-4 px-5 bg-blue-500 hover:bg-blue-400 focus:bg-blue-600 outline-none text-white" type="submit" name="button">
                    <span class="h-6 w-6 overflow-hidden text-center">
                        <i class="fas fa-paper-plane"></i>
                    </span>
                </button>
            </div>
        </form>
    </div>
</template>

<script>
import db from '@/firebase/init';

export default {
    name: 'NewMessage',

    props: ['name'],

    data() {
        return {
            newMessage: null,
            feedback: null
        }
    },

    methods: {
        sendMessage() {
            if (this.newMessage) {
                db.collection('messages').add({
                    content: this.newMessage,
                    name: this.name,
                    timestamp: Date.now()
                }).catch(error => {
                    console.log(error);
                });

                this.newMessage = null;
                this.feedback = null;
            } else {
                this.feedback = 'You must enter a message in order to send one';
            }
        }
    }
}
</script>
