<template lang="html">
    <div class="mx-auto container px-6">
        <div class="flex justify-center items-center text-center min-h-screen">
            <div class="w-4/5 flex flex-col items-center">
                <div class="text-gray-500 uppercase tracking-widest font-semibold text-sm">
                    Welcome to
                </div>

                <div class="text-5xl mb-5">
                    <span class="text-orange-500 font-light">Fire</span><span class="text-gray-600 font-semibold">Chat</span>
                </div>

                <div class="xl:w-1/2 lg:w-4/5 md:w-full">
                    <form @submit.prevent="enterChat">
                        <input class="w-full text-center bg-transparent px-5 py-3 border-b border-gray-400" v-model="name" id="name" name="name" type="text" placeholder="Enter Your Username &amp; Press Enter" autofocus>

                        <span class="block mt-3 text-sm text-red-500" v-if="feedback" v-text="feedback"></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Welcome',

    data() {
        return {
            name: null,
            feedback: null
        }
    },

    methods: {
        enterChat() {
            if (this.name) {
                this.$router.push({
                    name: 'Chat',
                    params: {
                        name: this.name
                    }
                });
            } else {
                this.feedback = 'Your username is required.';
            }
        }
    }
}
</script>
