@import "tailwindcss/preflight";

@import "tailwindcss/components";

/*Custom Components*/
@import "grid";
@import "modal";

@import "tailwindcss/utilities";


a {
	text-decoration: none;
	@apply
		.text-indigo
		.whitespace-no-wrap;
}

.lh-fix {
	line-height: 0.75;
}

.tw-row {
	@apply
		.flex
		.-mx-3;
}

.top-nav-item {
	@apply
		.text-grey-darker
		.text-sm
		.mr-4
		.font-semibold
		.border-b-2
		.border-solid
		.border-transparent
		.pb-6;
}

.top-nav-item:hover {
	@apply
		.text-indigo
		.border-indigo;
}

.hero {
	/* background: url('/img/body-bg.svg'); */
	background-repeat: repeat;
	background-position: top;
	background-size: 115% auto;

	@apply .bg-indigo;
}

.show {
	display: block;
}

.hide {
	display: hide;
}




