/*Bootstrap Modal*/

.modal {
    @apply
        .absolute
        .bg-black-20
        .pin-y
        .pin-x
        .hidden
        .p-6
        .z-50;
}

.modal-dialog {
    @apply
        .max-w-sm
        .mx-auto
        .mt-16;
}

.modal-content {
    @apply
        .bg-white
        .rounded-lg
        .overflow-hidden
        .shadow-lg
        .p-8
        .relative;
}

.modal-header {
    @apply
        .mb-4;
}

.modal-title {
    @apply
        .text-lg
        .font-bold
        .text-black;
}

.modal-body {
    @apply .mb-8;
}

.modal-footer {
    @apply
       .flex
       .justify-between
       .items-center;
}

.close{
    @apply
        .absolute
        .pin-t
        .pin-r
        .mt-3
        .mr-3
        .text-lg
        .font-bold
        .text-grey
        .inline-block;
}

.close:hover {
    @apply .text-grey-dark;
}
