@font-face {
    font-family: 'hello_lucky';
    src: url('../fonts/hellolucky-webfont.eot');
    src: url('../fonts/hellolucky-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hellolucky-webfont.woff2') format('woff2'),
         url('../fonts/hellolucky-webfont.woff') format('woff'),
         url('../fonts/hellolucky-webfont.ttf') format('truetype'),
         url('../fonts/hellolucky-webfont.svg#hello_luckyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
