header {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(../images/bg3.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(../images/bg3.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 999;
}

nav {
  z-index: 99;
}

.navbar {
  padding: 30px 14px;
}

.menu-icon {
  font-size: 220%;
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.menu-icon:hover {
  opacity: 1;
}

.hero {
  margin-top: 7%;
  padding: 80px 0;
}

#hero-title {
  font-family: 'hello_lucky';
  font-weight: 100;
  font-size: 4rem;
  color: #fff;
  text-transform: lowercase;
}

.hero p {
  font-family: 'Playfair Display', serif;
  font-size: 1.3rem;
}

.section-welcome {
  padding: 80px 0;
}


#article-srilanka {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4))), url(../images/srilanka.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(../images/srilanka.jpeg);
}

.section-safari {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4))), url(../images/elephants.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(../images/elephants.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.frame {
  width: 100%;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-box-shadow: 0 12px 34px rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 12px 34px rgba(0, 0, 0, 0.12) !important;
}

.frame-img {
  overflow: hidden;
  width: 100%;
  position: relative;
  background-color: #000;
}

.frame-title {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.frame-img img {
  width: 100%;
  opacity: 0.7;
  -webkit-transition: 3s ease;
  transition: 3s ease;
}

.frame:hover .frame-img img {
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.frame-text {
  padding: 20px;
}

.frame-pull-down a {
  display: block;
  width: 100%;
  padding: 30px 0;
  background-color: #fff;
}

.frame-pull-down a span {
  display: inline-block;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.up {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#collapse1,
#collapse2,
#collapse3 {
  display:none;
}

.section-video {
  padding: 160px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/sigiriya-rock.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/sigiriya-rock.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  text-align: center;
}

#player {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto;
}

.modal-wd {
  padding: 0;
  width: auto;
}

.gallery {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery li {
  float: left;
  width: 20%;
  display: block;
}

.thumb {
  width: 100%;
  margin: 0px;
  background-color: #000;
  overflow: hidden;
}

.thumb img {
  width: 100%;
  height: auto;
  opacity: .7;
  -webkit-transition: -webkit-transform 3s, opacity 3s;
  -webkit-transition: opacity 3s, -webkit-transform 3s;
  transition: opacity 3s, -webkit-transform 3s;
  transition: transform 3s, opacity 3s;
  transition: transform 3s, opacity 3s, -webkit-transform 3s;
}

.thumb:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

.footer-menu {
  list-style: none;
}

#footer-menu-ul {
  margin-left: -40px !important;
}

.footer-menu li {
  float: left;
  margin-right: 20px;
}

.footer-links {
  display: block;
  list-style: none;
  margin-left: -40px;
  margin-bottom: 7px;
}

.footer-links li {
  float: left;
  margin-right: 20px;
}

footer {
  margin-top: 30px;
}

.footer-section-2 {
  border-top: 1px solid #dadada;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.footer-menu-2 {
  list-style: none;
  display: block;
  padding-left: 0 !important;
  margin-bottom: 0;
}

.footer-menu-2 li {
  float: left;
  margin-right: 20px;
  padding: 7px;
  padding-left: 0;
}

.copyright {
  font-size: 90%;
  color: #888;
}

.footer-logo-container {
  padding: 10px 0;
}

.footer-logo {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  width: 100px;
  opacity: 0.2;
}

.footer-logo:hover {
  opacity: 0.4;
}

.post-img {
  position: relative;
}

.post-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.post-img-title {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  color: #fff;
}
