@media only screen and (max-width: 800px) {
  .footer-section-2 {
    text-align: center;
  }

  .footer-menu-2 {
    margin-bottom: 30px !important;
  }

  .footer-menu-2 li {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .footer-logo-container {
    margin-top: 30px;
  }

  .navbar-nav {
    padding: 80px 0;
  }
}

@media only screen and (max-width: 600px) {
  #hero-title {
    font-size: normal;
  }
}
