.special-font {
  font-family: 'hello_lucky';
  font-weight: normal;
  font-style: normal;
}

.color-white {
  color: #ffff;
}

.background-white {
  background-color: #fff;
}

.font-szie-md {
  font-size: 1.5rem;
}

.font-large {
  font-size: 7rem;
}

.title {
  position: relative;
}

.title::after {
  width: 3rem;
  content:' ';
  position: absolute;
  top: 130%;
  left: 50%;
  border: 1px solid #dc221a;
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
}

.line {
  height: 1px;
  background-color: #fcfcfc;
  width: 100%;
}

.normal-title {
  font-weight: 400;
  margin-bottom: 30px;
}

.description-p {
  padding: 10% 0;
}

.bottom-spaced {
  margin-bottom: 80px;
}

.icon-large {
  font-size: 720%;
}

.icon-md {
  font-size: 220%;
}

.wd-80 {
  width: 80%;
  margin: 0 auto;
}

.color-primary {
  color: #007bff;
}

.one-off-title {
  font-size: 400% !important;
  font-weight: 400;
}

.cht-6 {
  height: 600px;
}

.position-bottom {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.pad-20 {
  padding: 20px;
}

.no-border {
  border-radius: 0;
}

.img-container {
  width: 100%;
  overflow: hidden;
  height: 255px;
  position: relative;
  margin-bottom: 30px;
  background-color: #000;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.img-container:hover {
  -webkit-box-shadow: 0 12px 34px rgba(0, 0, 0, 0.5) !important;
          box-shadow: 0 12px 34px rgba(0, 0, 0, 0.5) !important;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7));
  height: 100%;
  width: 100%;
  z-index: 1;
}

.img-title,
.img-tag-line {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 2;
  color: #fff !important;
}

.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.bg-black {
  background-color: #000;
}

.margin-less {
  margin: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.pagination {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 90%;
}
