header {
  padding: 10px 0;
  width: 100%;
  background-color: #22223b;
  margin-bottom: 50px;
}

nav {

}

.logo-title {
  color: #fff;
  margin-bottom: 0;
}

.nav-menu-header {
  list-style: none;
  margin-bottom: 0;
}

.nav-menu-header li {
  float: left;
  margin-bottom: 0;
  margin-left: 20px;
}

.nav-menu-header li a {
  color: #fff;
  margin-bottom: 0;
}

.box-container,
.box,
.box-container:before,
.box:before,
.box-container:after,
.box:after {
  box-sizing: border-box !important;
}

.box-container  {
  -moz-column-width: 15em;
  -webkit-column-width: 15em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}

.box {
  display: inline-block;
  padding:  2rem;
  margin-bottom: 1rem;
  width:  100%;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.03);
  transition: 0.3s linear;
}

.topic-main {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.03);
  padding: 20px;
  margin-bottom: 40px;
}

.topic-reply {
  margin-top: 20px;
  padding: 20px;
}

.catagory-a {
  width: 100%;
}

footer {
  text-align: center;
  padding: 80px 0;
  margin-top: 50px;
}

footer p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

p.error-msg {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 320px;
  padding: 20px;
  color: #333;
  margin-bottom: 0 !important;
  background-color: #fff;
  border-left: 5px solid #db5461;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
}

p.success-msg {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 320px;
  padding: 20px;
  color: #333;
  margin-bottom: 0 !important;
  background-color: #fff;
  border-left: 5px solid #7ac74f;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.user {
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.date {
  font-size: 85%;
  color: #333;
}
