/* Custom Fonts
"Times New Roman", Times, serif;
font-family: 'Old Standard TT', serif;
font-family: 'Questrial', sans-serif;
*/

/* Global */
/* ================================================= */

/*
.col,
.col-2 {
    background: #000;
}
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
    text-rendering: geometricPrecision;
    font-weight: 400;
}

html, body {
    color: #888;
    font-size: 16px;
    background: #fff;
}

/* Typography Components */
/* ================================================= */

h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman", Times, serif;
    color: #000;
}

h1 {
    font-size: 280%;
    font-weight: 200;
}

#sm {
    font-size: 110%;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 200%;
}

h2.heading-line {
    float: left;
    margin-left: 70px;
}

hr.sub {
    display: block;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    width: 170px;
}

/*
h2:after {
    display: block;
    height: 1px;
    background-color: #1c1c27;
    content: "";
    width: 50px;
    margin: 20px 0 30px 0;
}
*/
h3 {
    margin-bottom: 30px;
    color: #3ea58d;
}

p {
    font-family: 'Questrial', sans-serif;
    color: #888;
    line-height: 170%;
    font-size: 90%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

button {
    cursor: pointer;
}

/* Reusable Components */
/* ================================================= */

a:link,
a:visited {
    text-decoration: none;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    color: #000;
}

a.normal {
    color: black;
}

a.btn,
a button {
  color: #fff;
}

a:hover,
a:active {
    text-decoration: none;
    color: #3ea58d;
}

.green {
    color: #3ea58d;
}

.row {
    max-width: 1250px;
    margin: 0 auto;
}

.row-full {
    width: 100%;
    margin: 0 auto;
}

.section-padded {
    padding: 80px 0;
}

.products {
    background-image: url(css_img/bg-texture.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: auto;
}

.pad {
    padding: 50px 0;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.left-pad {
    padding-left: 100px;
}

.up-marg {
    margin-top: 20px;
}

.error-p {
    padding: 5px;
    background: firebrick;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}

.sucess-p {
    padding: 5px;
    background-color: darkolivegreen;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}

.legal {
    display: block;
    color: #000;
    text-align: left;
    font-size: 80%;
    margin-top: 10px;
}

.clearfix {
    zoom: 1
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/* Table Components */
/* ================================================= */

.table-fill {
    background: white;
    border-collapse: collapse;
    width: 100%;
}

th {
    color: #000;
    font-weight: 500;
    text-align: left;
    padding: 10px;
    border-right: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 80%;
}

td {
    background: #FFFFFF;
    text-align: left;
    vertical-align:  middle;
    font-weight: 400;
    padding: 10px;
    border-right: 1px dotted #ddd;
    font-size: 80%;
}

th:last-child,
td:last-child {
    border-right: none;
}

td.action {
    font-size: 100%;
    text-align: right;
}

.icon {
    margin: 0 15px;
}

/* Buttons Components */
/* ================================================= */

.btn {
    display: inline-block;
    padding: 15px 30px;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75%;
    cursor: pointer;
    border: none;
    outline: none;
}

.btn i {
    margin-right: 10px;
}

.btn-full:link,
.btn-full:visited {
    background-color: #3ea58d;
    color: #fff;
}

.btn-full:hover,
.btn-full:active {
    background-color: #40465a;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
    background-color: none;
    color: #fff;
}

.btn-ghost:hover {
    background-color: #fff;
    color: #000;
}

.btn-ghost-dark {
    color: #3ea58d;
    border: 1px solid #3ea58d;
}

/* Input Components */
/* ================================================= */

input {
    font-family: 'Questrial', sans-serif;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=tel],
select,
textarea {
    width: 100% !important;
    box-sizing: border-box !important;
    padding: 12px 20px !important;
    display: inline-block;
    border: 1px solid #d4d4d4;
    color: #444;
    font-size: 14px;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    margin-bottom: 3%;
}

textarea {
    height: 200px;
    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
    outline-width: medium;
    outline-style: none;
    outline-color: -moz-use-text-color;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.full-w {
    width: 100%;
}

/* Header Area */
/* ================================================= */

header {
    position: relative;
    margin-bottom: 20px;
}

/* Dropdown Components */
/* ================================================= */

span#cart-items {
    font-size: 80%;
    font-weight: 700;
}

.dropbtn,
.dropbtnc {
    background-color: #3ea58d;
    color: white;
    padding: 21px 25px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
    font-size: 90%;
    font-weight: 500;
}

#dropBtn {
    background-color: #40465A;
}

.dropbtn:hover,
.dropbtn:active {
    background-color: #40465A;
    outline: none;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 0;
    padding: 20px;
    background-color: #fff;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    font-size: 80%;
    -webkit-transition: 0.3s all linear;
    transition: 0.3s all linear;
}

.form-container-drop {
    font-size: 90%;
    width: 250px;
}

.order-sum {
  width: 260px;
}

.sep {
    margin-bottom: 10px;
}

.dropdown-content-ul {
    list-style: none;
}

.after-login-a {
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.after-login-a:hover {
    color: #3ea58d;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
}

/* Shop Drop Down */

.dropbtn {
    background-color: #3ea58d;
    color: white;
    padding: 21px 25px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
    font-size: 90%;
    font-weight: 500;
}

#dropBtn {
    background-color: #40465A;
}

.shop-dropbtn:hover,
.shop-dropbtn:active {
    background-color: #40465A;
    outline: none;
    border: none;
}

.shop-dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.shop-dropdown-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 600px;
    left: -20px;
    top: 30px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
}

.shop-dropdown-content-ul {
    list-style: none;
}

.shop-dropdown-content-ul li {
  padding-left: 0;
}

h4.title-small {

}

h4.title-small:after {
  content: "";
  display: block;
  height: 1px;
  background: #3EA58D;
  width: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#shop_dropDown {
  text-transform: none;
}

#shop_dropDown a {
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    color: black;
    padding: 7px 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

#shop_dropDown a:hover {
    color: #3ea58d;
}

.shop-dropdown:hover .shop-dropdown-content {
    opacity: 1;
    visibility: visible;
}

/* Logo */

.logo {
    height: 100px;
    width: auto;
    float: left;
    //margin-top: 20px;
}

#search-form {
    position: relative;
}

#search-icon {
    position: absolute;
    top: 46px;
    right: 20px;
    background: none;
    border: none;
    outline: none;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
}

#search-icon:hover {
    color: #3ea58d;
}

#search {
    font-family: 'Questrial', sans-serif;
    margin-top: 35px;
    background-color: #F8F8F8;
    border-radius: 100px;
    box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.05);
    border: none;
}

input#search::-webkit-input-placeholder {
    color: #888;
}

input#search::-moz-placeholder {
    color: #888;
}

input#search:-ms-input-placeholder {
    color: #888;
}

input#search::placeholder {
    color: #888;
}

.number {
    float: right;
    margin-top: 35px;
    text-align: center;
}

.number strong {
    font-family: 'Cardo', serif;
    width: auto;
    color: #3ea58d;
    font-size: 120%;
}

span.number-avlb {
    display: block;
    margin-top: 2px;
    font-weight: 300;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 50%;
}

ul.main-nav {
    list-style: none;
    float: left;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #dddddd;
    width: 100%;
}

li.main-nav-li {
    display: inline-block;
    float: left;
    margin-right: 20px;
    padding-right: 20px;
    font-size: 80%;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    border-right: 1px solid #ddd;
    height: 14px;
}

li.main-nav-li:last-child {
    border-right: none;
}

a.main-nav-a:link,
a.main-nav-a:visited {
    color: #000;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 1px solid transparent;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
}

a.main-nav-a:hover,
a.main-nav-a:active {
    color: #3ea58d;
}



/* Footer Area */
/* ================================================= */

footer {
    margin-top: 50px;
}

footer h3 {
    color: #000;
}

footer a {
    color: #555;
    font-size: 80%;
}

footer a:hover,
footer a:active {
    color: #3ea58d;
}

.footer-nav-area {
    border-top: 1px solid #000;
    padding: 30px 0 70px 0;
}

.footer-nav {
    list-style: none;
    margin-top: 15px;
}

.footer-nav li {
    margin-top: 5px;
}

.footer-nav li a:link,
.footer-nav li a:visited {
    color: #555;
    font-size: 80%;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #3ea58d;
}

.footer-area-2 {
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

ul.footer-bottom-nav {
    list-style: none;
}

ul.footer-bottom-nav li {
    display: inline-block;
    float: left;
    margin-right: 20px;
    padding-right: 20px;
    font-size: 80%;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    border-right: 1px solid #ddd;
    height: 14px;
}

ul.footer-bottom-nav li:last-child {
    border-right: none;
}

ul.footer-bottom-nav li a {
    font-weight: 700;
    color: #000;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
}

ul.footer-bottom-nav li a:hover {
    color: #3ea58d;
}

ul.footer-bottom-nav {
    list-style: none;
}

img.payments {
    float: right;
}

footer p {
    display: block;
    color: #888;
    text-align: left;
    font-size: 65%;
    margin-top: 20px;
    margin-bottom: 60px;
}
