header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  padding-top: 20px;
  background-color: #fff;
  z-index: 999;
}

.logo {
  width: 80px;
}

.nav-menu {
  margin-top: 30px;
}

.nav-menu li {
  float: left;
  margin-left: 60px;
}

.nav-menu a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 75%;
  color: #888;
}

.nav-menu a:hover {
  color: #000;
}

.section-hero {
  margin-top: 120px;
}

.hero-area {
  height: 600px;
  background-image: url(../images/background2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: inherit;
  position: relative;
}

.sub-title h5 {
  line-height: 34px;
}

.sub-title-hero::before {
  content: '';
  position: absolute;
  top: 0px;
  width: 160px;
  height: 2px;
  background: #272b2b;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

*::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sub-title-hero {
  text-align: left;
}

.hero {
  text-align: left;
  position: absolute;
  top: 35%;
  left: -2%;
}

.hero h1 {
  text-transform: none;
}

#for-hero {
  right: 0;
}

.section-intro {
  padding: 80px 0;
}

.section-portfolio {
  padding: 80px 0;
}

.item {
  position: relative;
  margin-bottom: 30px;
  overflow-x: hidden;
  width: 100%;
}

.item img {
  width: 100%;
}

.md-bg-1 {
  background-image: url(https://d13yacurqjgara.cloudfront.net/users/52758/screenshots/2922421/virgin_islands_national_park_dribbble_j_fletcher.jpg);
}

.md-bg-2 {
  background-image: url(https://d13yacurqjgara.cloudfront.net/users/40433/screenshots/2921609/untitled-4.png);
}

.md-bg-3 {
  background-image: url(https://d13yacurqjgara.cloudfront.net/users/34991/screenshots/2920459/dribbble_pill.png);
}

.md-bg-4 {
  background-image: url(https://d13yacurqjgara.cloudfront.net/users/34991/screenshots/2921840/dribbble_stickermule.png);
}

.sectopn-team {}

.team-member {
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
}

.team-pic {
  width: 100%;
  height: auto;
  display: block;
}

.cover {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  text-align: center;
  opacity: 0.8;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  cursor: pointer;
}

.vertical-align {
  margin-top: 50%;
  opacity: 1;
}

.team-member:hover .cover {
  height: 100%;
}

.section-contact {
  padding: 80px 0;
}

footer {
  margin-top: 50px;
}

footer p {
  color: #888;
  font-size: 95%;
}

.footer-logo {
  width: 70px;
  margin-bottom: 30px;
}

.social-nav a {
  margin: 0 10px;
  font-size: 110%;
}

.footer-copyrights-area {
  padding: 50px 0;
  text-align: center;
}

.copyrights {
  color: #888;
}
