@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
  .br-align {
    text-align: center;
  }

  .br-mb-2 {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 786px) {
  .hero-area {
    //opacity: 0.3;
  }

  .hero {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
  }

  #for-hero {
    display: none;
  }

  #hero-slogan {
    color: #fff !important;
    text-align: center;
    position: relative;
  }
}

@media only screen and (max-width: 480px) {

  #hero-slogan {
    font-size: 190%;
  }
}
