/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

.tw-btn {
    @apply
        .tw-shadow
        .tw-bg-indigo
        .tw-text-white
        .tw-py-2
        .tw-leading-normal
        .tw-px-4
        .tw-rounded-full
        .tw-text-sm;
}

.tw-btn:hover {
    @apply
        .tw-bg-indigo-light;
}

.tw-btn:focus {
    @apply
        .tw-shadow-outline
        .tw-outline-none;
}

.tw-dropdown-menu {
    @apply
        .tw-border
        .tw-border-grey-lighter
        .tw-shadow;
}

.tw-input {
    @apply
        .tw-bg-grey-lighter
        .tw-appearance-none
        .tw-border-2
        .tw-border-grey-lighter
        .tw-rounded
        .tw-w-full
        .tw-py-2
        .tw-px-4
        .tw-text-grey-darker
        .tw-leading-tight;
}

.tw-input:focus {
    @apply
        .tw-outline-none
        .tw-bg-white
        .tw-border-indigo;
}

.tw-label {
    @apply
        .tw-block
        .tw-uppercase
        .tw-tracking-wide
        .tw-text-grey
        .tw-text-xs
        .tw-font-bold
        .tw-mb-2;
}

.invalid-feedback {
    @apply
        .tw-text-red-lighter;
}
