
// Body
$body-bg: #e6ecf0; //

// Typography
// $font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$white:    #fff !default;
$gray-100: #e6ecf0 !default;
$gray-200: #e6f2fa !default;
$gray-300: #cee4f6 !default;
$gray-400: #b5d7f1 !default;
$gray-500: #9dcaec !default;
$gray-600: #6cafe3 !default;
$gray-700: #54a1de !default;
$gray-800: #3482be !default;
$gray-900: #07121b !default; //
$black:    #000 !default;

// Colors
$blue: #3B94D9; //
$indigo: #7067cf; //
$purple: #51355a; //
$pink: #ff87ab; //
$red: #bb0a21; //
$orange: #fe6847; //
$yellow: #ffa400; //
$green: #4daa57; //
$teal: #49dcb1; //
$cyan: #009ffd; //
