
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap'; //Original bootstrap
@import 'bootstrap/bootstrap';

// Custom utilities
@import 'util';


.dropdown-toggle::after {
    display: none;
}

.user-avatar {
    border: 5px solid #ffffff;
}
