.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.bg-light {
    background-color: #EBF4FB !important;
}

.bg-dark {
    background-color: #141d26 !important;
}

.mt--4 {
    margin-top: -1.5rem !important;
}

.mt--4 {
    margin-top: -1.5rem !important;
}

.mb--4 {
    margin-bottom: -1.5rem !important;
}

.h-v100 {
    height: 100vh;
}

.text-muted {
    color: #657786 !important;
}

.text-fineprint {
    color: #657786 !important;
    font-size: 11px;
    line-height: 1.34;
}
