.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-3-1,
.js--wp-3-2,
.js--wp-3-3,
.js--wp-4,
.js--wp-5,
.js--wp-5-1,
.js--wp-5-2,
.js--wp-5-3,
.js--wp-6,
.js--wp-7 {
  opacity: 0;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-3-1.animated,
.js--wp-3-2.animated,
.js--wp-3-3.animated,
.js--wp-4.animated,
.js--wp-5.animated,
.js--wp-5-1.animated,
.js--wp-5-2.animated,
.js--wp-5-3.animated,
.js--wp-6.animated,
.js--wp-7.animated {
  opacity: 1;
}
