header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  padding-top: 20px;
  background-color: #fff;
  z-index: 999;
}

.logo {
  width: 80px;
}

.nav-menu {
  margin-top: 30px;
}

.nav-menu li {
  float: left;
  margin-left: 60px;
}

.nav-menu a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 75%;
  color: #888;
}

.nav-menu a:hover {
  color: #000;
}

.section-hero {
  margin-top: 120px;
}

.hero-area {
  height: 600px;
  position: relative;
  overflow: hidden;
}

.sub-title h5 {
  line-height: 34px;
}

.sub-title-hero::before {
  content: '';
  position: absolute;
  top: 0px;
  width: 160px;
  height: 2px;
  background: #272b2b;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

*::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sub-title-hero {
  text-align: left;
}

.hero {
  text-align: left;
  position: absolute;
  top: 35%;
  left: 0;
}

.hero h1 {
  text-transform: none;
}

#for-hero {
  right: 0;
}

.section-intro {
  padding: 80px 0;
}

.section-portfolio {
  padding: 80px 0;
}

.portfolio-item {
  margin-bottom: 30px;
  max-height: 605px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.3s linear;
}

.portfolio-item img {
  width: 100%
}

.portfolio-item:hover {
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1);
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  cursor: pointer;
}

.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
}

.portfolio-overlay-text {
  color: #555;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.sectopn-team {}

.team-member {
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
}

.team-pic {
  width: 100%;
  height: auto;
  display: block;
}

.cover {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  text-align: center;
  opacity: 0.8;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  cursor: pointer;
}

.vertical-align {
  margin-top: 50%;
  opacity: 1;
}

.team-member:hover .cover {
  height: 100%;
}

.section-contact {
  padding: 80px 0;
}

footer {
  margin-top: 50px;
}

footer p {
  color: #888;
  font-size: 95%;
}

.footer-logo {
  width: 70px;
  margin-bottom: 30px;
}

.social-nav a {
  margin: 0 10px;
  font-size: 110%;
}

.footer-copyrights-area {
  padding: 50px 0;
  text-align: center;
}

.copyrights {
  color: #888;
}

.soldier-header {
  background-color: #edf5fd;
  padding: 80px 50px;
  color: #272b2b;
  text-align: center;
  margin-bottom: 30px;
}
