@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
  .br-align {
    text-align: center;
  }

  .br-mb-2 {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 786px) {
  .hero-area {
    //opacity: 0.3;
  }

  .slide-caption {
    text-align: center !important;
    color: #fff;
  }

  .ast-cont {
    overflow: hidden;
  }

  .ast-cont img {
    width: 100%;
  }

}

@media only screen and (max-width: 480px) {


}
