#openbtn {
  margin-top: 26px;
  width: 24px;
  height: 28px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
}

#openbtn span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #272b2b;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#openbtn span:nth-child(1) {
  top: 6px;
}

#openbtn span:nth-child(2) {
  top: 13px;
}

#openbtn span:nth-child(3) {
  top: 20px;
}

#openbtn.open span:nth-child(1) {
  top: 13px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#openbtn.open span:nth-child(2) {
  opacity: 0;
  left: -20px;
}

#openbtn.open span:nth-child(3) {
  top: 13px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#myNav {
  display: none;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 120px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #272b2b;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #abaeaf;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.footer-copyrights-area-menu {
  text-align: center;
  margin-top: 120px;
}

.copyright-menu {
  color: #ddd;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.show {
  display: block;
}

/* Animation */
.delay-1 {
  animation-delay: 0;
}

.delay-2 {
  animation-delay: 0.09;
}

.delay-3 {
  animation-delay: 0.1s;
}

.delay-4 {
  animation-delay: 0.3s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.7s;
}

/*.delay-sp {
  animation-delay: 0.7s;
}*/
