.section-portfolio {
  margin-top: 120px;
  padding: 80px 0;
  padding-top: 0;
}

.ast-cont {
  overflow: hidden;
}

.screenshot-display {
  height: 800px;
  width: 1120px;
  margin: 0 auto;
  overflow: scroll;
}

.screenshot-contain {
  width: 100%;
}

.screenshot-contain img {
  width: 100%;
}
