section {
  margin: 30px 0;
}

.card {
  background-color: #fff;
  padding: 80px 50px;
  text-align: center;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.card div {
  margin-bottom: 30px;
}

.card p {
  color: #888;
}

.icon-big {
  font-size: 320%;
}

.serif {
  font-family: 'Lora', serif;
}

.large-type {
  font-size: 180%;
}

.type-md {
  font-size: 130%;
}

.sub-title::before {
  content: '';
  position: absolute;
  right: 17px;
  top: 0px;
  width: 160px;
  height: 2px;
  background: #272b2b;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;

}
*::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
.sub-title {
  text-align: right;
}

.link-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 75%;
  color: #888;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-5 {
  margin-bottom: 50px;
}

.ht-50 {
  height: 290px;
}

.background-black {
  background-color: #000;
}

.background-light {
  background-color: #edf5fd;
  padding: 80px 30px;
}

.have-padding {
  padding: 50px 30px;
}

.color-grey {
  color: #ddd;
}
