.slides {
  height: 600px;
  position: relative;
}

.slide {
  height: 600px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.slide-1 {
  background-image: url(../images/slide1.jpg);
}

.slide-2 {
  background-image: url(../images/slide2.jpg);
}

.slide-3 {
  background-image: url(../images/slide3.jpg);
}

.slide-caption {
  margin-top: 55%;
  text-transform: none;
}

#slide-1-cap {
  text-align: left;
}

#slide-2-cap {
  color: #fff;
}

#slide-3-cap {
  color: #fff;
  text-align: center;
  padding-top: 30px;
}
