header {
  margin-bottom: 30px;
}

.section-welcome {
  margin-top: -30px;
}

.section-admin {
  padding-bottom: 80px;
}

/* REUSABLE STYLES */
.bg-white {
  background-color: #fff !important;
}

.bg-latest {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.badge-tag,
.badge-category {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding: .35rem;
}

*, *:before, *:after {
  box-sizing: border-box !important;
}

.grid {
  -moz-column-width: 350px;
  -webkit-column-width: 350px;
  column-width: 350px;
  -moz-column-gap: 30px;
  -webkit-column-gap: 30px;
  column-gap: 30px;
}

.grid-tem {
  display: inline-block;
  margin: 0.25rem;
  width: 100%;
}

.section-base {
  padding-bottom: 80px;
}

footer {
  margin-top: 30px;
  padding: 80px 0;
}

footer p.copyright {
  width: 100%;
  display: inline-block;
  font-size: 75%;
  color: #bbb;
}

.ion-ios-search {
  font-size: 110%;
}

.input-search,
.input-search:hover,
.input-search:focus,
.input-search:active {
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}
