#sidebar-container {
    position: relative;
}

#sidebar {
    /*
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 10px 5px rgba(0, 0, 0, 0.1);
    */
    position: fixed;
    width: 250px;
    background: #171a1e;
    height: 100vh;
    box-shadow: 2px 0 5px 2px rgba(0, 0, 0, 0.2);
    z-index: 999;
    overflow: hidden;
}

.sidebar-menu {
    margin-top: 50px;
}

.sidebar-menu-ul {
    list-style: none;
    width: 100%;
}

.sidebar-menu-li {
    display: block;
    padding: 15px 30px;
    color: #888;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
}

.sidebar-menu-a:hover,
.sidebar-menu-a:active,
.sidebar-menu-a:focus,
.sidebar-menu-li:hover,
.sidebar-menu-li:active {
    color: #3ea58d;
}

.sidebar-menu-li i {
    color: #3ea58d;
    font-size: 120%;
    margin-right: 20px;
}

.logo {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.logo img {
    display: inline-block;
}

.search-admin {
    position: relative;
    top: -12px;
}

#search-admin-input {
    margin: 0;
    padding-left: 5px;
    background: none;
    border: none;
    border-bottom: 1px solid #ccc;
}

#search-admin-input:focus {
    background: #fff;
}

#search-icon {
    position: absolute;
    top: 12px;
    right: 20px;
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
}

#search-icon:hover,
#search-icon:active {
    color: #3ea58d;
}

#content-container-header {
    padding: 10px 50px;
    position: relative;
}

#content-container-footer {
    position: relative;
}

#admin-img {
    float: right;
    margin-right: 10px;
    margin-top: 3px;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    overflow: hidden;
    background: #333;
    position: relative;
}

#admin-img img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.position {
    width: 100%;
    overflow: hidden;
    height: 21px;
    margin-right: 5px;
}

.admin-details {
    //background: #333;
    margin-top: 4px;
}

#content-container-body {
    width: 100%;
    padding: 30px 50px;
}

.add_link {
    color: #fff;
    margin-bottom: 30px;
    float: right;
}

.action-links {
    margin: 0 15px;
}

.add_link i {
    color: #fff;
}

.short-p {
    margin: 0;
    padding: 0;
    height: 40px;
    width: 200px;
    overflow: hidden;
}

/*------ Stats Area ------*/

.count {
    margin: 5px 0;
}

.stat-count {
    margin-bottom: 30px;
    padding: 10px;
    border-right: 1px solid #171A1E;
}

.stat-count:last-child {
    border-right: none;
}

span.status {
    font-weight: bold;
    font-size: 80%;
    color: #fff;
}

span.bottom-count,
span.top-count {
    font-size: 100%;
    color: #333;
}

div.count {
    font-size: 250%;
    font-weight: bold;
    color: #3ea58d;
}

i.white {
    color: #fff;   
}

span.green,
i.green {
    color: darkolivegreen;   
}

span.red,
i.red {
    color: firebrick;
}

.ion-trash-a {
    font-size: 140%;
}

/*------ Table Design ------*/


.table-fill {
    background: white;
    border-collapse: collapse;
    width: 100%;
}

th {
    color: #000;
    font-weight: 700;
    text-align: left;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 80%;
    border-bottom: 5px solid #EDF1F2;
}

td {
    background: #FFFFFF;
    text-align: left;
    vertical-align:  middle;
    font-weight: 400;
    padding: 20px;
    font-size: 90%;
}

th:last-child,
td:last-child {
    border-right: none;
}

td.action {
    font-size: 100%;
    text-align: right;
}

.icon {
    margin: 0 15px;
}


th:last-child {
    border-right: none;
}

tr {
    color: #555;
    font-weight: 400;
    cursor: pointer;
    border-bottom: 5px solid #EDF1F2;
}

tr:first-child {
    border-top:none;
}

tr:last-child {
    border-bottom:none;
}

td:last-child {
    border-right: 0px;
}

.content {
    
}

ul.container-ul {
    list-style: none;
}

ul.container-ul li {
    background: #fff;
    padding: 20px;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
}

ul.container-ul li:hover {
    background: #e1f2ee;
}

.product-title {
    font-weight: 600;
    color: #000;
    font-size: 120%;
}

.product-img {
    margin-top: 20px;
}

.blog-entry-container {
    margin-bottom: 20px;
}

.customer-avatar {
    float: left;
    margin-right: 10px;
    width: 50px;
    border-radius: 100px;
}