/* Custom Fonts
font-family: 'Lato', sans-serif;
*/

/* Global */
/* ================================================= */

/*
.col,
.col-2 {
background: #000;
}
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    text-rendering: geometricPrecision;
    color: #555;
}

html, body {
    background-color: #EDF1F2;
}

/*
Typography
===============================================================================================================================
*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    text-align: left;
    color: #555;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 280%;
    font-weight: 100;
    letter-spacing: 1px;
    color: #555;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

h1 small {
    font-size: 50%;
    margin-top: 0;
    text-transform: capitalize;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 200%;
    font-weight: 100;
    letter-spacing: 1px;
    color: #555;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    margin-bottom: 20px;
}

h2 small {
    display: block;
    font-weight: 600;
    letter-spacing: 0;
    font-size: 50%;
    margin-top: 0;
    text-transform: capitalize;
}

h2:after {
    display: block;
    content: "";
    height: 1px;
    width: 50px;
    background: #303743;
    margin: 20px 0;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    font-weight: 100;
    word-spacing: 4px;
    letter-spacing: 1px;
    color: #767779;
    margin: 0;
    padding: 0;
}

h5 {
    font-family: 'Lato', sans-serif;
    font-size: 120%;
    font-weight: 400;
    color: #767779;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

h5 small {
    color: #3ea58d;
}

p {
    font-family: 'Lato', sans-serif;
    color: #888;
    line-height: 170%;
    font-size: 90%;
}

button {
    color: #fff;
    cursor: pointer;
}

/* Reusable Components */
/* ================================================= */

a:link,
a:visited {
    text-decoration: none;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
}

a:hover,
a:active {
    text-decoration: none;
    color: #3ea58d;
}

.active {
    color: olivedrab;
}

.green {
    color: #3ea58d;
}

.black {
    color: #000;
}

.w-space {
    word-spacing: 3px;
}

.row {
    max-width: 100%;
    margin: 0 auto;
}

.row-full {
    width: 100%;
    margin: 0 auto;
}

#beta-identifier {
    position: absolute;
    font-size: 85%;
    color: #fff;
    letter-spacing: 2px;
    padding: 5px 15px;
    background: #303743;
    border-radius: 3px;
    top: 32px;
    text-transform: uppercase;
}

.section-padded {
    padding: 80px 0;
}

.products {
    background-image: url(css_img/bg-texture.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: auto;
}

.full-w {
    width: 100%;
}

.pad {
    padding: 50px 0;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.right {
    float: right;
}

.left {
    float: left;
}

.left-pad {
    padding-left: 100px;
}

.error-p {
    padding: 5px;
    background: firebrick;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}

.sucess-p {
    padding: 5px;
    background-color: darkolivegreen;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}

.legal {
    display: block;
    color: #000;
    text-align: left;
    font-size: 80%;
    margin-top: 10px;
}

.clearfix {
    zoom: 1
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.tooltip {
    position: relative;
    display: inline-block;
}

/* Buttons Components */
/* ================================================= */

.btn {
    display: inline-block;
    padding: 15px 30px;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75%;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
}

.btn i {
    margin-right: 10px;
}

.btn-full:link,
.btn-full:visited {
    background-color: #3ea58d;
    color: #fff;  
}

.btn-full:hover,
.btn-full:active {
    background-color: #40465a;
    color: #fff;  
}

.btn-ghost:link,
.btn-ghost:visited {
    background-color: none;
    color: #fff;
}

.btn-ghost:hover {
    background-color: #fff;
    color: #000;
}

.btn-ghost-dark {
    color: #3ea58d;
    border: 1px solid #3ea58d;
}

/*
Drop down Elements
===============================================================================================================================
*/

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    cursor: pointer;
}

.dropdown-content {
    text-align: left;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50px;
    right: 0;
    padding: 10px;
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    font-size: 80%;
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
}

.dropdown-content-ul {
    list-style: none;
}

.dropdown-content-ul a {
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-ul a:hover {
    color: #3ea58d;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
}

/*
Input Elements
=============================================================================================================================
*/

input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=number],
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    //margin: 8px 0;
    display: inline-block;
    border: 1px solid #d4d4d4;
    box-sizing: border-box;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=number]:focus,
textarea:focus,
select:focus {
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1);
}

/* -- Input File -- */

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + .inputfile-label {
    color: #fff;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 12px 20px;
    /* 10px 20px */
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
}

.inputfile:focus + .inputfile-label,
.inputfile.has-focus + .inputfile-label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile-1 + .inputfile-label {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #3ea58d;
}

.inputfile-1:focus + .inputfile-label,
.inputfile-1.has-focus.inputfile-label,
.inputfile-1 + .inputfile-label:hover {
    background-color: #40465A;
}

input[type=submit] {
    width: 100%;
    background-color: #404752;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
}

input[type=submit]:hover {
    background-color: #303743;
}

/*
Images & Media
===============================================================================================================================
*/



/*
Footer
===============================================================================================================================
*/

footer {
    position: relative;
    width: 100%;
    padding: 20px 50px 20px 0;
    color: #999;
    text-align: right;
}

footer p strong,
footer p {
    color: #9b9fa6;
    font-size: 80%;
}