#login-page-container {
    position: relative;
}

#right {
    float: right;
    width: 50%;
    height: 100vh;
    background: #171A1E;
}

#left {
    float: left;
    width: 50%;
    height: 100vh;
    background: #fff;
}

.login-box {
    position: absolute;
    margin: auto;
    padding: 20px 20px 0 20px;
    top: 160px;
    right: 0;
    left: 0;  
    font-size: 90%;
    width: 350px;
    min-height: 300px;
    background: #fff;
    box-shadow: 0 2px 15px 7px rgba(0, 0, 0, 0.1);
}

.sep {
    margin-bottom: 20px;
}

.login-box label {
    margin-left: 5px;
}

.login-box a {
    font-size: 90%;
}

#login-copy {
    text-align: left;
}