.col {
    //background: brown;
}

.profile {
    position: relative;
}

.profile-img {
    float: left;
    border-radius: 500px;
    overflow: hidden;
    width: 130px;
    height: 130px;
}

.profile-img img {
    width: 130px;
    height: auto;
    margin: 0 auto;
}

.profile-action {
    float: left;
    z-index: 5;
    text-align: center;
    //padding: 10px;
    background: #fff;
    border-radius: 100px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    background: #171A1E;
    color: #fff;
    width: 30px;
    height: 30px;
    display: table-cell;
}

.profile-action i {
    color: #fff;
    display: inline-block;
    margin: 7px 0;
}

.profile-btn {
    position: absolute;
    top: 100px;
    left: 90px;

}

.profile-details {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
}

.name {
    padding: 0;
}

.profile-position  {

}

.profile-title {
    color: #3ea58d;
}

.profile-content {
    margin-top: 30px;
}

.details-pane {
    height: 100vh;
    width: 100%;
    background: #fff;
    padding: 30px;
    box-sizing: border-box;
}

.details-pane p {
    margin: 10px 0;
}