// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Colors
$blue: #3490DC;
$indigo: #5661B3;
$purple: #794ACF;
$pink: #EB5286;
$red: #E3342F;
$orange: #DE751F;
$yellow: #F2D024;
$green: #38C172;
$teal: #38A89D;
$cyan: #6cb2eb;
