/*
	Metronic by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/


/* ==================== CSS Structure ==================== 

	 * 1.0 RESET STYLES	
	 * 2.0 BOOTSTRAP FIX FOR WINPHONR 8 AND IE10 
	 * 3.0 BASIC STYLES
	 * 4.0 TYPOGRAOHY
	 * 5.0 PRELOADER
	 * 6.0 VIDEO BACKGROUND
	 * 7.0 PARALLAX BACKGROUND 
	 * 7.1 TRIANGLIFY BACKGROUND 
	 *
	 * 8.0 HEADER
	 * 9.0 HOME SECTION - SLIDER
	 * 9.1 - ABOUT SECTION - SLIDER
	 * 9.2 - SERVICES SECTION - SLIDER 
	 * 9.3 - CONTACT SECTION - SLIDER 
	 * 9.4 - TEAM SECTION - SLIDER
	 * 
	 * 10.0 CLOCK COUNTDOWN
	 * 11.0 FLEXSLIDERS + TEXTSLIDERS
	 * 12.0 FORMS
	 * 13.0 FOOTER
	 * 14.0 SOCIALS ICONS 
	 * 15.0 BUTTONS
	 * 16.0 OVERLAY STYLES
	 * 17.0 BACKGROUND COLOR STYLES
	 * 18.0 SHORTCODES STYLES
	 * 19.0 MS IE STYLES
	 * 20. 0MOBILE STYLES 
	 * 21.0 RESPONSIVE STYLES
  
========================================================== */



/* ==================== 1.0 RESET STYLES ==================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ==================== 2.0 BOOTSTRAP FIX FOR WINPHONR 8 AND IE10  ==================== */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/* ==================== 3.0 BASIC STYLES ==================== */


body {
	color: #fff;
	background: #ffffff;
	line-height: 1;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 28px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
	white-space: normal;
	position: relative;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

input,
select,
textarea { 
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	font-family: 'Raleway', sans-serif;
}

/* ==================== 4.0 TYPOGRAOHY ==================== */


h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin-bottom: 10px;
	line-height: 1.2em;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 62px;
	position: relative;
	margin-bottom: 0px;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	position: relative;
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}

h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
}

h5 {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

h6 {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

p {
	margin-bottom: 20px;
}

p.lead {
	font-family: 'Raleway', sans-serif;
	font-size: 21px;
	padding: 0;
	font-weight: 400;
}

, a > * {
	cursor: pointer;
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

a:hover, a > *:hover, a:focus {
	text-decoration: none;
	outline: 0;
}
ul {
	list-style:none;
}
em {
	font-style: italic;
}

strong {
	font-weight: 700;
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.color-white {
	color: #fff;
}

/* ==================== 5.0 PRELOADER ==================== */


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 10001;
}

#loading-animation {
    width: 120px;
    height: 128px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image:url(../images/loading-animation.GIF); 
    background-repeat: no-repeat;
    background-position: center;
    margin: -60px 0 0 -64px;
}

/* ==================== 6.0 VIDEO BACKGROUND ==================== */

.youtube-background {
	background-color: #000;
}

#video_background {
	position: fixed;
	bottom: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
}

/* ==================== 7.0 PARALLAX BACKGROUND ==================== */

.parallax-wallpaper {
	left: -25%;
	top: -25%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	z-index: -999999;
	position: fixed;
	width: 150%;
	height: 150%;
	background-image:url(../images/bg/parallax-bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
}

/* ==================== 7.1 TRIANGLIFY BACKGROUND ==================== */

#gradient {
	left: -25%;
	top: -25%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	z-index: -999999;
	position: fixed;
	width: 150%;
	height: 150%;
	-webkit-background-size: cover;
	background-size: cover;
}

/* ==================== 8.0 HEADER ==================== */

.logo-site {
	margin: auto;
	width: 100%;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
}

.logo-site img {
	display: block;
	margin: 0 auto;
}

.title-section {
	text-align: center;
	letter-spacing: 0;
	margin-top:20px;
	margin-bottom: 20px;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
    color: #fff;
    font-weight: 300;
	position: relative;
}

.header-section {
	padding-bottom: 0px;
}

/* ==================== 9.0 HOME SECTION - SLIDER ==================== */
.main-site {
	position: relative;
	height: auto;
	width: auto;
	overflow: hidden;
	display: block;
	padding: 150px 80px;
	margin: 0;
	z-index: 10;
}

.main-site .container-section {
	z-index: 10;
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
	height: 100px;
}

.main-site .container-table {
	display: table-cell;
	vertical-align: middle;
}

.main-site .container {
	width: auto;
}

.main-site h1 {
	margin-top: 30px;
}

.main-site h1,
.main-site h2,
.main-site h3,
.main-site h4,
.main-site h5,
.main-site h6 {
	font-weight: 400;
	margin-bottom: 30px;
}

.main-site h1 {
	font-size: 52px;
}

.main-site h2 {
	font-size: 42px;
}

.main-site h3 {
	font-size: 30px;
}

.content-slide {
	color: #fff;
}
.item-slide {
	margin-top:20px;
	margin-bottom:50px;
	display: none;
}

.item-slide.active {
	display: block;
}

/* ==================== 9.1 ABOUT SECTION - SLIDER ==================== */

.aboutus{
  padding-top: 20px;
  padding-bottom: 20px;
}

.aboutus p{
 text-align:left;
 letter-spacing: 0.5px;
 line-height: 25px;
 padding-top: 35px;
}
.pregress-bar{
  width: 100%;
  float: left;
  margin-top: 25px;
}
.category-name {
  float: left;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.progress-status {
  float: right;
  color: #fff;
  font-size: 1em;
}
.skill-bar {
  display: block;
  width: 100%;
  height: 5px;
  background: #fff;
  clear: both;
  margin: 20px 0;
}

.skill-level {
  display: table;
  height: 5px;
}
.planning, .programming, .developing, .supporting, .marketing {
  background: #666;
}
.about-heading h1{
  color: #e1e1e1 !important
}
.planning {
  width: 90%;
  -webkit-animation: planning 3s linear;
  animation: planning 3s linear;
}
.programming {
  width: 80%;
  -webkit-animation: programming 3s linear;
  animation: programming 3s linear;
}

.developing {
  width: 70%;
  -webkit-animation: developing 3s linear;
  animation: developing 3s linear;
}
.supporting {
  width: 85%;
  -webkit-animation: supporting 3s linear;
  animation: supporting 3s linear;
}
.marketing {
  width: 70%;
  -webkit-animation: marketing 3s linear;
  animation: marketing 3s linear;
}

@-webkit-keyframes planning {
  from { width: 0%; }
  to { width: 90%; }
}

@keyframes planning {
  from { width: 0%; }
  to { width: 90%; }
}

@-webkit-keyframes programming {
  from { width: 0%; }
  to { width: 80%; }
}

@keyframes programming {
  from { width: 0%; }
  to { width: 80%; }
}


@-webkit-keyframes developing {
  from { width: 0%; }
  to { width: 70%; }
}

@keyframes developing {
  from { width: 0%; }
  to { width: 70%; }
}

@-webkit-keyframes supporting {
  from { width: 0%; }
  to { width: 85%; }
}

@keyframes supporting {
  from { width: 0%; }
  to { width: 85%; }
}

@-webkit-keyframes marketing {
  from { width: 0%; }
  to { width: 70%; }
}

@keyframes marketing {
  from { width: 0%; }
  to { width: 70%; }
}

.video-section {
	position:relative;
}
.big-video {
	 padding:50px;
}

.video-content iframe {
border: 0 !important;
}
iframe {
	 width:450px;
	 height:400px;
	  -webkitallowfullscreen : width:450px; height:400px;
	  -mozallowfullscreen : width:450px; height:400px;
	  -allowfullscreen : width:450px; height:400px;
}

/* ==================== 9.2 SERVICES SECTION - SLIDER ==================== */

.item-service {
	text-align: left;
	margin-bottom: 30px;
}

.service-icon {
    font-size: 40px;
    color: #fff;
	float: left;
	width: 60px;
	text-align: center;
}

.service-icon:hover,
.service-icon:focus {
	color:#000;
	background:#fff;
	transition:all 1s;
	transform:rotate(360deg);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #000;
	
}
.service-text {
	margin-left: 70px;
}

.item-service h3 {
	font-size: 21px;
	margin-bottom: 10px;
}
.item-service h3:hover,
.item-service h3:focus {
	color:#999;
}


/* ==================== 9.3 CONTACT SECTION - SLIDER ==================== */


.maps-section {
	position:relative;
}
.big-maps {
	 padding:50px;
}
.big-maps ul {
	padding-left:50px;
	padding-bottom:20px;
}
.big-maps li {
	text-align:left;

}
.big-maps li span {
	color:#CCC;
}
.maps-content {
border: 0 !important;
}

.video-section {
	position:relative;
}

#map1 {
	 width: 450px;
	 height: 400px;
	  -webkit: width:450px; height:400px;
	  -moz: width:450px; height:400px;
}

/* ==================== 9.4 TEAM SECTION - SLIDER ==================== */

.panel {
	background: rgba(84, 82, 82, 0.56);
	text-align:center; 
	border:2px solid #fff;
}

.panel img {
	 margin: 20px auto;
}

.panel img:hover, img:focus {
	color:rgba(255, 255, 255, 0.43);	
}

.panel a i {
	margin-left:5px;
	margin-bottom:10px;
	font-size:20px;
}

/* ==================== 10.0 CLOCK COUNTDOWN ==================== */


#clock-countdown {
	color: #fff;
	overflow: hidden;
}

.counter-container {
	display: table;
	margin: 0 auto;
}

#clock-countdown .counter-box {
	display: block;
	width: 160px;
	text-align: center;
	overflow: hidden;
	padding: 10px 25px;
	float: left;
	margin: 25px 0;
	position: relative;
}

#clock-countdown .number {
	font-size: 80px;
	text-align: center;
	font-family: 'Monteserrat', sans-serif;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 10px;
}

#clock-countdown span {
	display: block;
	font-size: 21px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding-top: 10px;
	position: relative;
	overflow: hidden;
}

#clock-countdown span:before {
	position: absolute;
	content: '';
	display: block;
	width: 30px;
	height: 1px;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 0px;
}
/* ==================== 11.0 FLEXSLIDERS + TEXTSLIDERS ==================== */

.flexslider.textslider {
	margin-top:20px;
	margin-bottom: 20px;
	background: transparent;
	border: 0px solid #fff;
	position: relative;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0px 0px rgba(0,0,0,.2);
	-o-box-shadow: 0 0px 0px rgba(0,0,0,.2);
	box-shadow: 0 0px 0px rgba(0,0,0,.2);
	zoom: 1;
}

.textslider h1,
.textslider h2,
.textslider h3 {
	text-transform: uppercase;
}

.textslider h1 {
	font-size: 82px;
}

.textslider h2 {
	font-size: 58px;
}

.textslider h3 {
	font-size: 40px;
}

/* ==================== 12.0 FORMS ==================== */

input, textarea, select {
	background: rgba(255, 255, 255, 0.9);
	outline: none;
	-webkit-appearance: none;
	color: #333;
	padding: 11px 25px;
	margin: 0px;
	font-style: italic;
	font-weight: 400;
	line-height: 1.42857143;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	height: auto;
	margin-bottom: 20px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	-webkit-transition: background-color .3s ease, border .3s ease, color .3s ease;
	   -moz-transition: background-color .3s ease, border .3s ease, color .3s ease;
	    -ms-transition: background-color .3s ease, border .3s ease, color .3s ease;
	     -o-transition: background-color .3s ease, border .3s ease, color .3s ease;
	        transition: background-color .3s ease, border .3s ease, color .3s ease;
	border: 1px solid #fff;
}

textarea {
	width: 100%;
	padding: 10px 20px;
	resize: both;
	margin-top: 0px;
	font-style: italic;
	height: 150px;
}
	
input:hover, textarea:hover, select:hover {
	color: #333;
}
	
input:focus, textarea:focus, select:focus {
	color: #333;
}

input[type=submit], button {
	width: auto;
	font-style: normal;
	background: #fff;
	color: #333;
	cursor: pointer;
	border: 1px solid #fff;
	padding: 12px 20px;
    border-radius: 0;
}

input[type=submit]:hover, button:hover {
	color: #333;
}

select, option {
	cursor: pointer;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #333; }

input:-moz-placeholder, textarea:-moz-placeholder { color: #333; }

input.placeholder, textarea.placeholder { color: #333; }

input[placeholder] { text-overflow: ellipsis; }

::-moz-placeholder { text-overflow: ellipsis; } /* firefox 19+ */

input:-moz-placeholder { text-overflow: ellipsis; }

.form {
	position: relative;
	overflow: hidden;
}

.container-form {
	padding-top: 40px;
	position: relative;
	overflow: hidden;
	padding-bottom: 30px;
}

.note-form {
	color: #333;
	font-style: italic;
	margin: 24px 0;
}

.message-success {
	padding-top: 10px;
	color: #fff;	
	font-size: 14px;
	font-weight: 300;
	display: none;
}

.message-error {
	padding-top: 10px;
	color: #fff;	
	font-size: 14px;
	font-weight: 300;
	display: none;
}

.message-success,
.message-error
 {
	max-width: 500px;
	margin: 0 auto;
}

.contact-form input[type="text"], .contact-form input[type="email"] {
	width: 100%;
}

.contact-form input, .contact-form textarea, .contact-form select {
	background: transparent;
	outline: none;
	-webkit-appearance: none;
	color: #fff;
	border: 2px solid #fff;
	padding: 9px 20px;
	margin: 0px;
	font-style: italic;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	height: auto;
	margin-bottom: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background-color .3s ease, border .3s ease, color .3s ease;
	-moz-transition: background-color .3s ease, border .3s ease, color .3s ease;
	-ms-transition: background-color .3s ease, border .3s ease, color .3s ease;
	-o-transition: background-color .3s ease, border .3s ease, color .3s ease;
	transition: background-color .3s ease, border .3s ease, color .3s ease;
	position: relative; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.contact-form textarea {
	margin-bottom: 18px;
}

.contact-form .input-error {
	border-color: #ed5555;
}

.contact-form .response-message {
	margin: 20px 0 30px 0;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
}

/* WebKit browsers */
.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder { 
    color: #fff;
}
.contact-form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity:  1;
}
.contact-form ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff; 
    opacity:  1;
}
.contact-form :-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #fff;
}


.subscription-form {
	display: table;
	margin: 0 auto;
}

.subscription-form input {
	float: left;
	display: inline-block;
	border: none;
}

.subscription-form input[type="email"] {
	min-width: 270px;
}

.subscription-form button {
	margin: 0 5px;
	float: left;
}
.top-margin {
	margin-top: 0 !important;
}
.bottom-margin {
	margin-bottom: 0 !important;
}

/* ==================== 13.0 FOOTER ==================== */

.copy-right {
	background: transparent;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	z-index: 10000;
	width: 100%;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	-webkit-transition: position .5s ease;
	-moz-transition: position .5s ease;
	-ms-transition: position .5s ease;
	-o-transition: position .5s ease;
	transition: position .5s ease;
}

.copyright {
	line-height: 80px;
	padding-left: 15px;
}

/* ==================== 14.0 SOCIALS ICONS ==================== */
.socials-icons {
	position: relative;
	display: block;
	margin: 0;
	width: auto;
	height: auto;
	top: auto;
	bottom: auto;
	right: auto;
	z-index: 10;
}

.socials-icons ul  {
	margin: 0 auto;
	text-align: center;
	display: table;
	vertical-align: middle;
	overflow: hidden;
}
	
.socials-icons li {
	margin: 0;
	display: block;
	float: left;
}

.socials-icons li a {
	display: block;
	width: 80px;
	height: 80px;
	line-height: 80px;
}

.socials-icons li a i {
	color: #fff;
	line-height: 70px;
	font-size: 21px;
}

.socials-icons li a:hover i {
	color: #999;
}

/* ==================== 15.0 BUTTONS ==================== */

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.default-button:focus,
.sm-button:focus,
.border-button:focus,
.border-sm-button:focus  {
	outline: none;
	outline-offset: 0px;
	text-decoration: none;
}

.default-button {
	display: inline-block !important;
	background: #fff;
	padding: 9px 50px;
	color: #333;
	line-height: 22px;
	font-size: 16px;
	outline: none;
	outline-offset: 0px;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 5px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.default-button:hover,
.default-button:focus {
	color: #333;
	opacity: 0.8;
}

.default-button i,
.default-button:hover i,
.default-button:focus i {
	color: #333;
}

.border-button {
	display: inline-block !important;
	background: transparent;
	padding: 9px 50px;
	color: #fff;
	line-height: 22px;
	font-size: 16px;
	outline: none;
	outline-offset: 0px;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #fff;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.border-button:hover,
.border-button:focus {
	background: #fff;
	color: #333;
	opacity: 0.8;
}

.border-button i,
.border-button:hover i,
.border-button:focus i {
	color: #333;
}

/* Transparent */
.bt-transparent {
	background: transparent;
	color: #fff;
}

.bt-transparent:hover,
.bt-transparent:focus {
	color: #fff;
	opacity: 0.8;
}

.bt-transparent i,
.bt-transparent:hover i,
.bt-transparent:focus i {
	color: #fff;
}

/* ==================== 16.0 OVERLAY STYLES ==================== */



.section-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}


.section-overlay {
	background: rgba(0, 0, 0, 0.9) !important;
}


/* ==================== 17.0 BACKGROUND COLOR STYLES ==================== */

.white-background {
	background: #fff;
}
.dark-background {
	background: #333;
}
.grey-background {
	background: #666;
}
.blue-background {
	background: #0b4ac8;
}
.blue-dark-background {
	background: #052a75;
}
.brown-background {
	background: #9C8061;
}
.red-background {
	background: #FC331C;
}
.orange-background {
	background: #EA8825;
}
.green-background {
	background: #00AB66;
}
.violet-background {
	background: #8C489F;
}
.yellow-background {
	background: #E5C41A;
}

/* ==================== 18.0 SHORTCODES STYLES ==================== */


.line-separate {
	display: block;
	margin-bottom: 30px;
	width: 120px;
	height: 18px;
	position: relative;
}

.line-separate span {
	display: block;
	position: relative;
	width: 18px;
	height: 18px;
	margin: 0 auto;
	border-radius: 50%;
}

.line-separate:before {
	content: '';
	display: block;
	position: relative;
	top: 8px;
	width: 50px;
	height: 2px;
	margin: 0 !important;
	float: left;
}

.line-separate:after {
	content: '';
	display: block;
	position: relative;
	top: -10px;
	width: 50px;
	height: 2px;
	margin: 0 !important;
	float: right;
}

.line-white:before,
.line-white:after {
	background: #fff;
}

.line-white span {
	box-shadow: inset 0px 0px 0px 2px #fff;
}

.line-center,
.line-center:before,
.line-center:after {
	margin-left: auto;
	margin-right: auto;
}

.line-center span:before,
.line-center span:after {
	width: 90px;
}

/* ==================== 19.0 MS IE STYLES ==================== */

.ie-10 .logo-site,
.ie-11 .logo-site {
	padding-top: 10px;
	display: block;
}

@media(min-width:769px){
	.ie-10 .header-site,
	.ie-11 .header-site {
		display: block !important;
	}

	.ie-10 .default-button,
	.ie-11 .default-button,
	.ie-10 .border-button,
	.ie-11 .border-button, {
		display: inline-block !important;
	}
}

/* ==================== 20.0 MOBILE STYLES ==================== */


body.mobile {
	-webkit-text-size-adjust:none;
}

body.mobile .animated {
	display: block;
	visibility: visible;
}

.windowsphone .logo-site,
.windowsphone .logo-site img {
	display: block !important;
	visibility: visible !important;
	margin: 0 auto !important;
}

/* ==================== 21.0 RESPONSIVE STYLES ==================== */


@media(min-width:1300px){
	.main-site .container {
		width: 1170px;
	}
}

@media(max-width:991px){

	.main-site .page-container {
		display: block;
		vertical-align: middle;
	}

	.main-site.fullscreen {
		display: block;
		height: auto;
		padding: 200px 80px;
	}
	
	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 44px;
	}

	h3 {
		font-size: 22px;
	}
	.big-video {
		 padding:30px;
	}
	.big-maps {
		 padding:100px;
	}
	.big-maps ul {
		 padding-left:120px;
	}
	#clock-countdown .counter-box {
		width: 170px;
		padding: 15px 15px;
	}
	.socials-icons {
		position: relative;
		display: block;
		margin: 0;
		width: auto;
		height: auto;
		top: auto;
		bottom: auto;
		right: auto;
		z-index: 10;
	}

	.socials-icons ul  {
		margin: 0 auto;
		text-align: center;
		display: table;
		vertical-align: middle;
		overflow: hidden;
	}
		
	.socials-icons li {
		margin: 0;
		display: block;
		float: left;
	}

	.socials-icons li a {
		display: block;
		width: 80px;
		height: 80px;
		line-height: 80px;
		border-right: 0px solid transparent;
		border-bottom: 1px solid transparent;
	}

	.socials-icons li a i {
		color: #fff;
		line-height: 80px;
		font-size: 21px;
	}
	.text-primary{
		margin-left:300px;
	}

}

@media(max-width:768px){
	
	
	.section {
		text-align: center !important;
	}
	
	.header-section,
	.tour-header {
		padding-bottom: 40px;
	}
	
	.fullscreen .section-container {
		display: block;
	}
	
	.main-site .section-container {
		display: block;
		height: auto;
	}

	.main-site .container-table {
		display: block;
	}
		
	.subscription-form input,
	.subscription-form button {
		float: none;
	}
	
	.subscription-form button {
		margin-top: 20px;
	}
	
	.line-separate,
	.line-separate span:before,
	.line-separate span:after {
		margin: 0 auto;
	}
	
	.line-separate span:before,
	.line-separate span:after {
		width: 90px !important;
	}
	
	.counter-container {
		max-width: 100%;
		width: auto;
		margin: 0 auto;
		border-left: 0;
		border-right: 0;
		padding: 0px;
	}
	
	#clock-countdown .counter-box {
		width: 100%;
		float: none;
		border: none;
	}
		
	.socials-icons {
		position: relative;
		display: block;
		margin: 0;
		width: auto;
		height: auto;
		top: auto;
		bottom: auto;
		right: auto;
		z-index: 10;
	}

	.socials-icons ul  {
		margin: 0 auto;
		text-align: center;
		display: table;
		vertical-align: middle;
		overflow: hidden;
	}
		
	.socials-icons li {
		margin: 0;
		display: block;
		float: left;
	}

	.socials-icons li a {
		display: block;
		width: 80px;
		height: 80px;
		line-height: 80px;
		border-right: 0px solid transparent;
		border-bottom: 1px solid transparent;
	}

	.socials-icons li a i {
		color: #fff;
		line-height: 80px;
		font-size: 21px;
	}
	
	.textslider h1 {
		font-size: 62px;
	}

	.textslider h2 {
		font-size: 48px;
	}

	.textslider h3 {
		font-size: 30px;
	}
	
	.item-service {
		text-align: center;
	}
	
	.service-icon {
		float: none;
		width: 100%;
		text-align: center;
	}
	
	.service-text {
		margin-left: 0;
	}
	.big-maps ul {
		 padding-left:100px;
	}
	.big-video {
		 padding:20px;
	}
	.big-maps {
		 padding:100px;
	}
	iframe {
		 width:350px;
		 height:300px;
	}
	#map1 {
		 width:350px;
		 height:300px;
	}
	.text-primary{
		margin-left:250px;
	}

}

@media (max-width:640px){
	
	.subscription-form input[type="email"] {
		min-width: 200px;
	}
	
	.subscription-form button {
		min-width: 150px;
	}
	
	.copyright {
		line-height: 50px;
	}
	.big-maps ul {
		 padding-left:20px;
	}
	iframe {
		 width:250px;
		 height:200px;
	}
	#map1 {
		 width:250px;
		 height:200px;
	}
	.big-video {
		 padding:10px;
	}
	.big-maps {
		 padding:50px;
	}
	.main-site.fullscreen {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.socials-icons ul  {
		margin: 0 auto;
		text-align: center;
		display: table;
		vertical-align: middle;
		overflow: hidden;
	}
		
	.socials-icons li {
		margin: 0px 10px;
		display: inline-block;
		float: none;
	}
	.text-primary{
		margin-left:20px;
	}

}




