{% extends "base.html" %} {% block title %}{{ site_name }} Profile | {{ user.username }}{% endblock %} {% block body %}
<section class="section-user-profile">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <div class="profile-picture-wrap mb-4">
              <img src="{{ base_uri }}img/{{ user.profile_img }}" alt="{{ user.username }}" class="profile-picture rounded-circle" width="200px">
            </div>
            <h4 class="card-title">{{ user.first_name }} {{ user.last_name }}</h4>
            <h6 class="card-subtitle mb-3 text-muted">
                @{{ user.username }} <a href="{{ base_uri }}profile/settings"><i class="ion-edit"></i></a>
              </h6>
            <div class="row mb-4">
              <div class="col-md-10 offset-md-1">
                <p class="card-text">{{ user.about }}</p>
              </div>
            </div>
            <span class="badge badge-primary">{{ user.email }}</span>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <ul class="nav nav-tabs nav-fill" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#add_list" role="tab" data-toggle="tab">
              <h5><i class="ion-clipboard"></i> Your bucketlist items</h5>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#show_list" role="tab" data-toggle="tab">
              <h5><i class="ion-plus-round"></i> Add bucketlist item</h5>
            </a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content border border-top-0">
          <div role="tabpanel" class="tab-pane fade show active pt-4" id="add_list">
            {% if list %}
            <ul class="list-unstyled">
              {% for item in list %}
              <li>
                <div class="card {% if item.status == 1 %} alert-primary {% endif %} border-0 rounded-0">
                  <div class="card-body">
                    {% if item.status == 1 %}
                    <small class="float-right">Completed on {{ item.completed_on|date("F j, Y") }}</small> {% else %}
                    <small class="text-muted float-right">Not completed yet</small> {% endif %}
                    <h3 class="card-title">{{ item.title }}</h3>
                    <p class="card-text">
                      {{ item.description }}
                    </p>
                  </div>
                  <div class="card-footer border-0 bg-white">
                    {% if item.status == 0 %}
                    <a href="{{ base_uri }}profile/mark-complete-item?item={{ item.id }}" class="btn btn-outline-success mr-1"><i class="ion-checkmark-round"></i> Mark as complete</a>
                    {% else %}
                    <a href="{{ base_uri }}profile/mark-incomplete-item?item={{ item.id }}" class="btn btn-outline-dark mr-1"><i class="ion-close-round"></i> Mark as incomplete</a>
                    {% endif %}
                    <a href="{{ base_uri }}profile/edit-item?item={{ item.id }}" class="btn btn-secondary mr-1"><i class="ion-edit"></i> Edit</a>
                    <a href="{{ base_uri }}profile/delete-item?item={{ item.id }}" class="btn btn-danger"><i class="ion-trash-a"></i> Delete</a>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
            {% else %}
            <p class="my-5 text-center">
              Better get planning!
            </p>
            {% endif %}
          </div>
          <div role="tabpanel" class="tab-pane pt-4 fade" id="show_list">
            <div class="card-body">
              <form action="{{base_uri}}profile/add-list" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="listItem">Bucket list item title</label>
                  <input type="text" class="form-control" name="title" id="listItem" aria-describedby="listHelp" placeholder="Enter Title">
                  <small id="listHelp" class="form-text text-muted">Make it memorable.</small>
                </div>
                <div class="form-group">
                  <label for="decsription">Bucket list item description</label>
                  <textarea class="form-control" id="description" name="description" rows="3" placeholder="What would you like to accomplish?"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Add to list</button>
                <button type="reset" class="btn btn-outline-primary">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</section>

{% endblock %}
