{% extends "base.html" %}

{% block title %}{{ site_name }} Profile | Settings{% endblock %}

{% block footer %}
<script src="{{ base_uri }}js/hideShowPassword.min.js"></script>
<script type="text/javascript">
  $.validator.addMethod('validPassword',
    function(value, element, param) {
      if(value != '') {
        if(value.match(/.*[a-z]+.*/i) == null) {
          return false;
        }
        if(value.match(/.*\d+.*/) == null) {
          return false;
        }
      }
      return true;
    },
    'Must contain atleast one letter and one number'
  );
  $(document).ready(function() {
    var userId = '{{ user.id }}';
    /**
     * Validate the form
     */
    $('#formProfile').validate({
      rules: {
        name: 'required',
        email: {
          required: true,
          email: true,
          remote: {
            url: '/account/validate-email',
            data: {
              ignore_id: function() {
                return userId;
              }
            }
          }
        },
        password: {
          minlength: 6,
          validPassword: true
        }
      },
      messages: {
        email: {
          remote: 'email already taken'
        }
      }
    });
    /**
      * Show password toggle button
      */
    $('#password').hideShowPassword({
      show: false,
      innerToggle: 'focus'
    });
  });
</script>
{% endblock %}

{% block body %}
  <section class="section-user-profile">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="profile-picture-wrap mb-4">
                <a href="{{ base_uri }}profile"><img src="{{ base_uri }}img/{{ user.profile_img }}" alt="{{ user.username }}" class="profile-picture rounded-circle" width="80px"></a>
              </div>
              <h4 class="card-title">{{ user.first_name }} {{ user.last_name }}</h4>
              <h6 class="card-subtitle mb-3 text-muted">
                @{{ user.username }}
              </h6>
              <p class="card-text">{{ user.about }}</p>
              <span class="badge badge-primary">{{ user.email }}</span>
            </div>
          </div>
        </div>

        <!-- Account settings update section -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h5>Account settings</h5>
            </div>
            <div class="card-body">
              <form action="{{ base_uri }}profile/update" method="post" enctype="multipart/form-data" id="accountUpdateForm">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="first_name" value="{{ user.first_name }}">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="last_name" value="{{ user.last_name }}">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-12">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-12">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
                    <small class="text-muted">Email will not be publicly displayed</small>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-12">
                    <label for="about">About</label>
                    <textarea class="form-control" id="about" name="about" rows="3">{{ user.about }}</textarea>
                  </div>
                </div>
                <div class="mt-3">
                  <button type="submit" name="acc_update" class="btn btn-primary">Save changes</button>
                  <a href="{{ base_uri }}profile/cancel" class="btn btn-outline-primary">Cancel</a>
                </div>
              </form>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5>Security settings</h5>
            </div>
            <div class="card-body">
              <form action="{{ base_uri }}profile/update-password" method="post" enctype="multipart/form-data" id="passwordFormUser">
                <div class="form-row">
                  <div class="form-group col-sm-12">
                    <label for="password">New password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" aria-describedby="helpBlock">
                    <span id="helpBlock"><small class="text-info"><em>You are not required to change your password unless neccessary.</em></small></span>
                  </div>
                </div>
                <div class="form-row mt-3">
                  <button type="submit" name="pass_update" class="btn btn-primary">Change password</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
