{% extends "base.html" %}

{% block title %}{{ site_name }} | Reset password{% endblock %}

{% block body %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <h5 class="mb-4 text-center">Request password reset</h5>
          <form method="post" action="../password/request-reset" enctype="multipart/form-data" id="emailForm">
            <fieldset class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" value="{{ email }}" required autofocus>
            </fieldset>
            <fieldset class="form-group text-center">
              <button type="submit" id="email_reset" name="email_reset" class="btn btn-primary mt-4">Send password reset</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
