{% extends "base.html" %}

{% block title %}{{ site_name }} | Reset password{% endblock %}

{% block body %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="alert alert-success text-center" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p>Aww yeah! you have successfully reset your password.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
