{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <h5 class="text-center">Please check your email.</h5>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
