{% extends "base.html" %}

{% block title %}{{ site_name }} | Reset password{% endblock %}

{% block footer %}
<script src="http://localhost:8888/blob/public/js/hideShowPassword.min.js"></script>
<script type="text/javascript" src="http://localhost:8888/blob/public/js/appValidate.js"></script>
{% endblock %}

{% block body %}

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="text-center mb-4">
            <h3>Reset password</h3>
          </div>
          {% if user.errors is not empty %}
            <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
              <p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true" class="ion-ios-close-empty"></span>
                </button>
              </p>
              <ul>
                {% for error in user.errors %}
                  <li>
                    <p>
                      {{ error }}
                    </p>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          <form method="post" action="../reset-password" enctype="multipart/form-data" id="passwordForm">
            <fieldset class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
              <input type="hidden" name="token" value="{{ token }}" />
            </fieldset>
            <fieldset class="form-group text-center">
              <button type="submit" id="reset" name="reset" class="btn btn-primary mt-4">Reset Password</button>
            </fieldset>
            <div class="mt-5 text-center">
              <p>
                <small>Remember you password yet? <a href="../../login"><em>Login</em></a></small>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
