{% extends "base.html" %}

{% block title %}{{ site_name }} | Reset password{% endblock %}

{% block body %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="alert alert-warning text-center" role="alert">
            <h4 class="alert-heading">Request password reset</h4>
            <p>Password reset link invalid or expired, please click <a href="../forgot">here</a> to request another one.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
