{% extends "base.html" %}

{% block title %}{{ site_name }} | Login{% endblock %}

{% block footer %}
<script src="{{ base_uri }}js/hideShowPassword.min.js"></script>
<script type="text/javascript">
$.validator.addMethod('validPassword',
  function(value, element, param) {
    if(value != '') {
      if(value.match(/.*[a-z]+.*/i) == null) {
        return false;
      }
      if(value.match(/.*\d+.*/) == null) {
        return false;
      }
    }
    return true;
  },
  'Must contain atleast one letter and one number'
);
  $(document).ready(function() {
    // Form client side validation
    $('#registerForm').validate({
      rules: {
        username: 'required',
        email: {
          required: true,
          email: true,
          remote: '../public/account/validate-email'
        },
        password: {
          required: true,
          minlength: 6,
          validPassword: true
        }
      },
      messages: {
        email: {
          remote: 'Email already taken'
        }
      }
    });

    // Show password toggle
    $('#password').hideShowPassword({
      show: false,
      innerToggle: 'focus',
      toggle: {
        // The element to create.
        element: '<span class="ion-eye">',
        content: '',
        styles: {
          marginRight: '10px'
        }
      }
    });
  });
</script>
{% endblock %}

{% block body %}

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="text-center mb-4">
            <h3>Login</h3>
          </div>
          <form method="post" action="../public/login/auth" enctype="multipart/form-data" id="loginForm">
            <fieldset class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" value="{{ email }}" required autofocus>
            </fieldset>
            <fieldset class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
            </fieldset>
            <fieldset class="form-group">
              <div class="form-check float-left">
                <input class="form-check-input" type="checkbox" {% if remember %} value="checked" {% endif %} name="remember_me" id="remember_me">
                <label class="form-check-label" for="remember_me" >
                  Remeber me
                </label>
              </div>
              <a href="../public/password/forgot" class="float-right"><small>Forgot password?</small></a>
            </fieldset>
            <fieldset class="form-group text-center">
              <button type="submit" id="login" name="login" class="btn btn-primary mt-4">Login</button>
            </fieldset>
            <div class="mt-5 text-center">
              <p>
                <small>Don't have an account? <a href="../public/register"><em>Register</em></a></small>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
