footer {
  padding: 80px 0;
}

.section-padded {
  padding: 80px 0;
}

.icon-md {
  font-size: 150%;
}

.icon-xl {
  font-size: 320%;
}

.dropdown-icons {
  margin-top: 3px;
  font-size: 120%;
  margin-right: 7px;
}

.bg-highlight {
  background-color: #EBF4FB;
}

.reply-textarea {
  height: 50px;
}

.action span {
  font-size: 120%;
}

.bg-light-blue {
  background-color: #EBF4FB;
}

.border-blue {
  border: 1px solid #E6ECF0;
}
