/* Landing page styles */
.mt-cover {
  margin-top: 80px;
}

.hw-full {
  min-height: 100vh;
}

.greeting {
  padding-top: 140px;
}

.hero {
  margin-top: 60px;
}

/* Footer area style */
.footer-front {
  margin-top: 50px;
}

/* User profile page styles */
.section-user-banner {
  margin-top: -1.5rem;
}

.user-profile-picture {
  display: inline-block;
  overflow: hidden;
  border: 5px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
}

.bg-profile {
  background-image: url(../img/804.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
