header{
  margin-bottom: 30px;
}

.logo {
  height: 22px;
}

section {
  padding: 80px 0;
}

footer {
  padding: 80px 0;
  background-color: #f8f9fa;
  margin-top: 30px;
}

#username-error,
#email-error,
#password-error,
#confirm_password-error {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  padding: 7px;
  color: #dc3545;
  background-color: transparent;
  width: 100%;
  margin: 5px 0;
}

.hideShowPassword-toggle,
.hideShowPassword-toggle-hide {
  cursor: pointer;
}

.text-small {
  font-size: 80%;
}

.text-large {
  font-size: 120%;
}

.flash {
  position: fixed;
  bottom: 30px;
  right: 30px;
  min-width: 250px;
}

.nav-icon {
  margin-left: 20px;
}

.ion-ios-close-empty {
  cursor: pointer;
  transition: 0.3s linear;
}
