#header_front {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 123, 255, 0.9), rgba(0, 123, 255, 0.9)), url(https://assets-cdn.github.com/images/modules/site/heroes/simple-codelines.svg);
  background-position: center 10%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.my-sp {
  margin-top: 150px;
}
