{% extends "base.html" %}

{% block title %}{{ site_name }} | Register{% endblock %}

{% block body %}

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Success!</h4>
            <p>Your account is now active. You can now <a href="../../public/login">log in</a>.</p>
            <a href="../../public"><i class="ion-android-arrow-back"></i> Go back to Home page</a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
