{% extends "base.html" %}

{% block title %}{{ site_name }} | Register{% endblock %}

{% block footer %}
<script src="http://localhost:8888/blob/public/js/hideShowPassword.min.js"></script>
<script type="text/javascript">
$.validator.addMethod('validPassword',
  function(value, element, param) {
    if(value != '') {
      if(value.match(/.*[a-z]+.*/i) == null) {
        return false;
      }
      if(value.match(/.*\d+.*/) == null) {
        return false;
      }
    }
    return true;
  },
  'Must contain atleast one letter and one number'
);
  $(document).ready(function() {
    // Form client side validation
    $('#registerForm').validate({
      rules: {
        username: 'required',
        email: {
          required: true,
          email: true,
          remote: '../public/account/validate-email'
        },
        password: {
          required: true,
          minlength: 6,
          validPassword: true
        }
      },
      messages: {
        email: {
          remote: 'Email already taken'
        }
      }
    });

    // Show password toggle
    $('#password').hideShowPassword({
      show: false,
      innerToggle: 'focus',
      toggle: {
        // The element to create.
        element: '<span class="ion-eye">',
        content: '',
        styles: {
          marginRight: '10px'
        }
      }
    });
  });
</script>
{% endblock %}

{% block body %}

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="text-center mb-4">
            <h3>Register</h3>
          </div>
          {% if user.errors is not empty %}
            <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
              <p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true" class="ion-ios-close-empty"></span>
                </button>
              </p>
              <ul>
                {% for error in user.errors %}
                  <li>
                    <p>
                      {{ error }}
                    </p>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          <form method="post" action="{{ base_uri }}register/create" enctype="multipart/form-data" id="registerForm">
            <fieldset class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" autofocus value="{{ user.username }}" required>
            </fieldset>
            <fieldset class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" value="{{ user.email }}" required>
            </fieldset>
            <fieldset class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
            </fieldset>
            <fieldset class="form-group" disabled>
              <div class="custom-file mt-3">
                <input type="file" class="custom-file-input" name="avatar" id="avatar">
                <label class="custom-file-label" for="avatar">Choose Avatar</label>
              </div>
            </fieldset>
            <fieldset class="form-group text-center">
              <button type="submit" id="register" name="register" class="btn btn-primary mt-4">Register</button>
            </fieldset>
            <div class="mt-5 text-center">
              <p>
                <small>Already have an account? <a href="../public/login"><em>Login</em></a></small>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
