{% extends "base.html" %}

{% block title %}{{ site_name }} | Register{% endblock %}

{% block body %}

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p>Aww yeah, you successfully registered to our website. Please check your email for an account activation link.</p>
            <a href="../"><i class="ion-android-arrow-back"></i> Go back to Home page</a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
