<template>
    <div class="feeds">
        <div class="card-body border-bottom"  v-for="post in posts">
            <div class="clearfix d-flex">
                <a class="mr-2" href="#">
                    <img :src="post.user.profile.avatar" :alt="post.user.name" class="rounded-circle" width="48px" height="48px">
                </a>
                <div class="user-details">
                    <h6>
                        <a href="#">
                            {{ post.user.profile.fist_name }} {{ post.user.profile.last_name }}
                        </a>
                        <span class="text-muted">
                            <small>&#64;{{ post.user.name }}</small>
                        </span>
                        <span class="mx-2">&#183;</span>
                        <span class="text-muted">
                            <small>{{ post.updated_at }}</small>
                        </span>
                    </h6>
                    <p>
                        {{ post.content }}
                    </p>
                </div>
            </div>
            <like :id="post.id"></like>
        </div>

        <!-- <div class="sociate">
            <img class="rounded" src="{!! asset('img/brick.jpg') !!}" width="100%">
        </div> -->
    </div>
</template>

<script>
    import Like from './Like.vue'
    export default {
        mounted() {
            this.get_feed();
        },
        components: {
            Like
        },
        methods: {
            get_feed() {
                axios.get('/feed')
                .then( (response) => {
                    response.data.forEach( (post) => {
                    this.$store.commit('add_post', post)
                })
            })
        }
        },

        computed: {
            posts() {
                return this.$store.getters.all_posts
            }
        }
    }
</script>
