<template>
    <div>
        <div v-if="loading" class="text-center">
            <i class="fas fa-spinner fa-spin text-white"></i>
        </div>
        <span v-else>
            <button type="button" class="btn btn-primary" v-if="status == 0" @click="add_friend">Add friend</button>
            <button type="button" class="btn btn-primary" v-if="status == 'friends'">Unfriend</button>
            <button type="button" class="btn btn-primary" v-if="status == 'pending'" @click="accept_friend">Accept friendship</button>
            <button type="button" class="btn btn-primary disabled" v-if="status == 'waiting'" disabled>Waiting for response</button>
        </span>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                status: '',
                loading: true
            }
        },
        mounted() {
            // console.log('Component mounted.')
            axios.get('/check_relationship_status/' + this.id)
            .then(resp => {
                // console.log(resp);
                this.status = resp.data.status;
                this.loading = false;
            }).catch(error => {
                console.log(error);
            });
            console.log(this.status);
        },
        props: [
            'id'
        ],
        methods: {
            add_friend: function() {
                this.loading = true
                axios.get('/add_friend/' + this.id )
                .then(resp => {
                    console.log(resp);
                    if(resp.data == 1) {
                        this.status = 'waiting';
                        this.loading = false;
                    }
                })
                .catch(error => {
                    console.log(error);
                });
            },
            accept_friend() {
                this.loading = true
                axios.get('/accept_friend/' + this.id )
                    .then(resp => {
                        if(resp.data == 1) {
                            this.status = 'friends';
                            this.loading = false;
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        }
    }
</script>
