<template>
    <div class="actions">
        <button type="button" class="btn btn-link">
            <i class="far fa-comment"></i> 5
        </button>
        <button type="button" class="btn btn-link" v-if="!auth_user_likes_post" @click="like()">
            <i class="fas fa-heart"></i> {{ likers.length }}
        </button>
        <button type="button" class="btn btn-link text-danger" v-else @click="unlike()">
            <i class="fas fa-heart"></i> {{ likers.length }}
        </button>
    </div>
</template>

<script>
    export default {
    mounted() {
        //
    },
    props: ['id'],
    computed: {
        likers() {
            var likers = []
            this.post.likes.forEach( (like) => {
                likers.push(like.user.id)
            })
            return likers
        },
        auth_user_likes_post() {
            var check_index = this.likers.indexOf(
                this.$store.state.auth_user.id
            )
            console.log(check_index);
            if (check_index === -1) {
                return false;
            } else {
                return true;
            }
        },
        post() {
            return this.$store.state.posts.find( (post) => {
                return post.id === this.id;
            })
        }
    },
    methods: {
        like() {
            axios.get('/like/' + this.id)
            .then( (resp) => {
                this.$store.commit('update_post_likes', {
                    id: this.id,
                    like: resp.data
                })
            })
        },
        unlike() {
            axios.get('/unlike/' + this.id)
            .then( (resp) => {
                this.$store.commit('unlike_post', {
                    post_id: this.id,
                    like_id: resp.data
                })
            })
        }
    }
    }
</script>
