<template>
    <!-- Login modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body p-5">
                    <h3 class="mb-4">Log in to <strong>sociable</strong></h3>
                    <form>
                        <div class="form-group" v-if="errors.length > 0">
                            <span class="text-danger mb-1" role="alert" v-for="error in errors" :key="errors.indexOf(error)">
                                <small>
                                    <strong>{{ error }}</strong>
                                </small>
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="email">Email address</label>

                            <input id="email" type="email" class="form-control" v-model="email" name="email" placeholder="Email address"  autofocus>

                            <!-- <span class="text-danger" role="alert">
                                <small>
                                    <strong>Error message</strong>
                                </small>
                            </span> -->
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>

                            <input id="password" type="password" v-model="password" class="form-control" name="password" placeholder="Password" >

                            <!-- <span class="text-danger" role="alert">
                                <small>
                                    <strong>Error in password</strong>
                                </small>
                            </span> -->
                        </div>

                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" v-model="remember" name="remember" id="remember">

                                <label class="form-check-label" for="remember">
                                    Remember me
                                </label>
                            </div>
                        </div>

                        <div class="form-group mb-0">
                            <button type="button" @click="attemptLogin()" :disabled="!isValid" class="btn btn-primary">
                                <i class="fas fa-spinner fa-spin" v-if="loading"></i> Login
                            </button>

                            <a class="btn btn-link" href="">
                                Forgot your password?
                            </a>
                        </div>
                    </form>

                    <div class="mt-5">
                        New to Twitter? <a href="#"> Sign up now »</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                email: '',
                password: '',
                remember: false,
                loading: false,
                errors: []
            }
        },
        computed: {
            isValid() {
                return this.emailIsValid() && this.password && !this.loading
            }
        },
        mounted() {
            // 
        },
        methods: {
            emailIsValid()   {
                if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.email))  {
                    return true
                } else {
                    return false
                }
            },
            attemptLogin() {
                this.errors = []
                this.loading = true
                axios.post('/login', {
                    email: this.email, password: this.password, remember: this.remember
                }).then(resp => {
                    location.href = "/home";
                }).catch(error => {
                    this.loading = false
                    if(error.response.status == 422) {
                        this.errors.push("We couldn't verify your account details.")
                    } else {
                        this.errors.push("Something went wrong , please refresh and try again.")
                    }
                })
            }
        }
    }
</script>
