<template>
    <div v-if="status" class="alert alert-success alert-dismissible fade show text-center" role="alert">
        <strong>Holy guacamole!</strong> {{ alert }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                alert: '',
                status: false
            }
        },
        mounted() {
            this.listen();
        },
        props: [
            'id'
        ],
        methods: {
            listen() {
                Echo.channel('App.User.' + this.id)
                    .notification((notification) => {
                        console.log(notification);
                        // this.status = notification.data;
                        // this.alert = 'You have a new notification.';
                        // alert('new notification');
                        // console.log(notification);
                        this.$store.commit('add_not', notification);
                    });
            }
        }
    }
</script>
