<template>
    <form>
        <div class="form-group">
            <textarea name="name" placeholder="What's happening?" class="form-control" v-model="content"></textarea>
        </div>
        <button type="button" class="btn btn-primary" :disabled="not_working" @click="create_post()">Sociate</button>
        <a href="#" class="btn btn-link">
            <i class="far fa-image fa-2x"></i>
        </a>
    </form>
</template>

<script>
    export default {
        mounted() {
            //
        },
        data() {
            return {
                content: '',
                not_working: true
            }
        },
        methods: {
            create_post() {
                axios.post('/sociate/store', {
                    content: this.content
                }).then((resp) => {
                    this.content = '';
                    console.log(resp);
                }).catch((error) => {
                    console.log(error);
                });
            }
        },
        watch: {
            content() {
                if(this.content.length > 0) {
                    this.not_working = false;
                } else {
                    this.not_working = true;
                }
            }
        }
    }
</script>
