<template>
    <li class="nav-item">
        <a class="nav-link" v-bind:href=" route ">
            <i class="far fa-bell"></i> Notifications
            <span class="badge badge-pill badge-primary">{{ all_nots_count }}</span>
        </a>
    </li>
</template>

<script>
    export default {
        mounted() {
              this.get_unread();
              // console.log(this.route);
        },
        methods: {
            get_unread() {
                axios.get('/get_unread')
                    .then((nots) => {
                        // console.log(nots.data);
                        nots.data.forEach( (not) => {
                            this.$store.commit('add_not', not);
                        })
                    })
            }
        },
        computed: {
              all_nots_count() {
                    return this.$store.getters.all_nots_count;
              }
        },
        props: [
            'route'
        ]
      }
</script>
