{% extends "base.html" %}

{% block title %}Page not found{% endblock %}

{% block body %}
  <section>
    <div class="container">
      <div class="row my-5 py-5">
        <div class="col-sm-12 text-center">
          <h1 class="display-1">404</h1>
          <h1>Page not found</h1>
          <p>Sorry, that page doesn't exist.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
