{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block body %}
<section>
  <div class="container">
    <div class="row my-5 py-5">
      <div class="col-sm-12 text-center">
        <h1 class="display-1">404</h1>
        <h1>An error occurred</h1>
        <p>Sorry, an error has occurred.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
