<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}{% endblock %}</title>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Hind:300,400,600|Montserrat:200,300,600" rel="stylesheet">
  <link rel="stylesheet" href="{{ base_uri }}css/ionicons.min.css">
  <link rel="stylesheet" href="{{ base_uri }}css/open-iconic-bootstrap.min.css">

  <!-- Core CSS & Resets
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ base_uri }}css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="{{ base_uri }}css/bootstrap.css">
  <link rel="stylesheet" href="{{ base_uri }}css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="{{ base_uri }}css/animate.css">
  <link rel="stylesheet" href="{{ base_uri }}css/hover.css">
  <link rel="stylesheet" href="{{ base_uri }}css/bootstrap-resets.css">

  <!-- Global CSS & Pages
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ base_uri }}css/global.css">
  <link rel="stylesheet" href="{{ base_uri }}css/pages.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ base_uri }}img/favicon.png">

</head>
<body>
  <header id="header_front">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="{{ base_uri }}">
          <img src="{{ base_uri }}img/logo-white.png" alt="Bucketlist" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            {% if current_user %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{{ base_uri }}/img/{{ current_user.profile_img }}" class="profile-picture rounded-circle" height="22px" alt="{{ user.username }}">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="dropdown-header mb-0">
                  <small>Logged in as</small>
                  <h6 class="mb-0">{{ current_user.username }}</h6>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ base_uri }}profile"><i class="ion-person"></i> Profile</a>
                <a class="dropdown-item" href="{{ base_uri }}settings"><i class="ion-settings"></i> Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ base_uri }}logout"><i class="ion-log-out"></i> Logout</a>
              </div>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="btn btn-outline-light ml-2" href="{{ base_uri }}login">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row my-sp">
        <div class="col-md-6 offset-md-3 text-center">
          <h5 class=" text-white">Welcome to</h5>
          <img src="{{ base_uri }}img/logo-white.png" alt="Bucketlist" class="my-3">
          <!-- <h1 class="display-2 text-white">Bucketlist</h1> -->
          <p class="lead mt-3 mb-4 text-white">A simple yet elegant to do list of your life's achievements to complete before you hit the bucket.</p>
          <p class="lead">
            {% if current_user %}
            <a class="btn btn-light" href="{{ base_uri }}profile" role="button">Get started</a>
            {% else %}
            <a class="btn btn-light" href="{{ base_uri }}register" role="button">Register</a>
            {% endif %}
            <a class="btn btn-outline-light" href="{{ base_uri }}learn-more" role="button">Learn more</a>
          </p>
          <p class="text-white mt-5">
            <small>Made with <i class="ion-heart text-danger"></i> by <em><a target="_blank" href="https://github.com/Thavarshan" class="text-white">Thavarshan</a></em></small>
          </p>
        </div>
      </div>
    </div>

  </header>

  <!-- Flash message display area -->
  {% for message in flash_messages %}
    <div class="flash alert bg-{{ message.type }} text-white alert-dismissible fade show my-3" role="alert">
      <p style="margin-bottom: 0;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true" class="ion-ios-close-empty text-white"></span>
        </button>
        {{ message.body }}
      </p>
    </div>
  {% endfor %}

  <!-- Content area -->
  {% block body %}{% endblock %}

  <!-- <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <p class="text-muted">
            <small>Copyright &copy; {{ date|date("Y") }} <strong>Bucket</strong>list. Made with <i class="ion-heart text-danger"></i> by <em><a target="_blank" href="https://github.com/Thavarshan">Thavarshan</a></em></small>
          </p>
        </div>
      </div>
    </div>
  </footer> -->

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ base_uri }}js/jquery-3.3.1.min.js"></script>
<script src="{{ base_uri }}js/jquery-2.2.4.min.js"></script>
<script src="{{ base_uri }}js/jquery-1.12.4.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js">
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{{ base_uri }}js/bootstrap.min.js"></script>
<script src="{{ base_uri }}js/bootstrap.bundle.min.js"></script>
{% block footer %}

{% endblock %}
</body>
</html>
